[2011-07-17 14:16] philpraxis opened #2 "use asynchronous DNS request with ANY rather than A queries in hostchecker.py"
For async DNS, you may use dnspython or twisted.
Both can be run in asynchronous request.
I found adns and asyncore dns based examples to be lacking "ANY" requests, which is precisely what is needed here.

note that your current code misses any non "A" resource record, that is any NS, MX, AAAA (ipv6), etc...

[2014-06-01 15:03] AlienDjinn opened #3 "Latest version can be found here..."
I'm setting up my raspberry pi for Security testing.   This version of theHarvester no longer seems to work.  I installed the latest version and it did work though.

See:  http://code.google.com/p/theharvester/

[2015-01-05 18:58] alexandarp opened #6 "Python 3 Version"
Would anyone else be interested in a python 3 version?

[2015-02-17 03:32] offroadaz opened #9 "<strong> in virtual host results"
Not sure why, but < strong > is displaying in my results for virtual hosts

example
./theHarvester.py -d godaddy.com -b google -v

Virtual hosts:
23.43.189.116   < strong >www.godaddy.com<

any ideas?

[2015-03-05 15:05] laramies commented on #9
Seems that the strong is not being scrubbed, I will review the parser. Thanks

[2015-03-28 18:35] ghost opened #13 "Enhancement : sort final results"
Could we have `<ip>:<address>` pair sorted at the end?

For example, in "[+] Hosts found in search engines:" results, these could be from:

[code]

Into:

[code]

Which gives more intuitive results.

[2015-03-28 18:36] initbar commented on #13
And I was wondering if I could try implementing this :)

[2015-03-28 18:38] ghost opened #14 "Enhancement : export results into logs"
Using `-o` or `-e`, export the results into a text/xml/json format.

[2015-03-28 19:01] initbar commented on #9
@laramies : If you haven't already, can I try this? :)

[2015-03-28 19:10] initbar commented on #13
The only inconvenience I see in sorting the end results is the result must wait until everything had been sorted.

The only inconvenience I see in sorting the end results, is that the final result must wait until everything had been sorted (which becomes a slight inconvenience when there are 50+).

[2015-05-10 01:34] Darkcast opened #16 "wont fun on kali linux get error message"
Traceback (most recent call last):
  File "theHarvester.py", line 10, in <module>
    from discovery import *
  File "/root/Downloads/theHarvester-master/discovery/googlesearch.py", line 6, in <module>
    import requests
  File "/usr/local/lib/python2.7/dist-packages/requests/__init__.py", line 53, in <module>
    from .packages.urllib3.contrib import pyopenssl
  File "/usr/local/lib/python2.7/di

[2015-05-10 22:47] laramies commented on #16
Hi Darkcast, seems that it is a problem in your pyopenssl installation. theHarvester is trying to import the requests library, and requests fails to import pyopenssl. No idea how to fix it. :/

[2015-05-10 22:48] laramies commented on #13
I can look into that for future updates. I will keep this issue open to track the progress.

[2015-05-10 22:49] laramies commented on #9
Sorry for my late reply, if you want to work on it feel free, otherwise I will check the problem in the parser in the next update.

[2015-05-20 18:20] darker0n commented on #16
You can try:

        pip install pyopenssl

or:

       pip install urllib3

[2015-05-22 20:08] dunn opened #18 "tag releases"
Would it be possible to tag stable releases, for the benefit of package managers? Thanks!

[2015-06-14 07:55] Th4nat0s opened #21 "123people provider doesn't exists anymore"
https://github.com/laramies/theHarvester/blob/master/discovery/people123.py

[2015-06-28 19:13] archey commented on #18
I second this, please tag this as 2.6 so that its easier to pkg.

[2015-07-01 08:13] ForceLightning228 opened #23 "Error Message on Launch - Mac OSX Yosemite"
Traceback (most recent call last):
  File "/Users/totallynotme/Downloads/theHarvester-master/theHarvester.py", line 10, in <module>
    from discovery import *
  File "/Users/totallynotme/Downloads/theHarvester-master/discovery/googlesearch.py", line 6, in <module>
    import requests
ImportError: No module named requests

[2015-07-02 19:58] francesco1119 opened #24 "there's no theharvester on my Kali Linux"
my Kali is up to date but there is no theharvester.

What to do?

[2015-07-04 18:50] darker0n commented on #23
pip install discovery
    pip install requests

[2015-07-04 18:52] darker0n commented on #24
Are you sure?
Kali include it

[2015-07-05 07:04] francesco1119 commented on #24
![schermata del 2015-07-05 19 02 24](https://cloud.githubusercontent.com/assets/3397477/8510662/6b1bd678-2348-11e5-86f4-10c4eaeb5ff9.png)
I had to download the master.zip, delete the folder /usr/share/thaharvester (that anyway didn't contained theharvester.py

still just with the command "theharvester" the program doesn't run.

I know that with a simple alias it could work but I wonder how I find

[2015-07-05 08:47] kaizensoze opened #26 "Source inconsistencies"
The sources are inconsistent between the README, usage text, invalid search engine text, and files in the discovery folder. What should be the current source list? It might also make sense to have them lexicographically ordered throughout.

[2015-07-05 08:55] duckspeaker commented on #23
I think `pip install requests` should suffice. Since that's the only package required, having a requirements.txt would be overkill, but it might make sense to include a mention of `pip install requests` in the README.

[2015-07-05 15:27] laramies commented on #23
Yes, the only dependency is requests, I added a check to see if requests is installed, and if not will tell the user to install the library. Also I added in the README the dependency. Will upload later today.

[2015-07-05 15:28] laramies commented on #23
Btw, latest version (2.6) has both things. Can't you see them?

[2015-07-05 15:32] laramies commented on #24
I've just tried the latest Kali version (1.1.0c) Vmware machine amd64 and I can confirm that theHarvester is there. I am closing this as seems to be a particular issue on your installation.

[2015-07-05 15:32] #24 closed

[2015-07-05 15:33] laramies commented on #26
I need to go over them and keep only one source of truth.. Will try to do it for the next release.

[2015-07-05 15:36] duckspeaker commented on #23
After doing a pip uninstall requests and running the latest version I see the same thing that @ForceLightning228 is reporting.

[2015-07-05 15:39] laramies commented on #23
But requests should be installed, you need to have it in order to run theHarvester, if you do an uninstall (pip uninstall requests) it is normal that it wont work. Can you confirm that it works when requests is installed? thanks.

[2015-07-05 15:45] duckspeaker commented on #23
Sorry maybe I misunderstood your comment. I thought you were saying you added a check to see if requests is installed and, if not, give a custom message instead of a Traceback.

[2015-07-05 15:48] laramies commented on #23
You are right, that is how it is supposed to work. But I know what is the problem. I am importing first Discovery, which will import the discovery modules and those are using requests; so it fails there before the check i  added in the main file. I will fix this, thanks for raising it.

[2015-11-09 06:30] rwbnetsec opened #30 "DNS Brute Force Error"
Not sure if this is something I'm doing wrong, but when trying to invoke the DNS Brute Force option, it gives an error that it can't open the dictionary file. After looking at the source files, I noticed the "dns-names.txt" file wasn't there. I'm using Kali 2.0, and there's another instance of theHarvester under /usr/share/golismero/tools, which contains the dictionary file.

I copied the dictiona

[2015-11-26 12:03] JohnLife96 opened #32 "Skipping emails when word-break <wbr>"
Results seem to be incomplete or missing when there are <wbr></wbr> tags after the '@' before parsing.

The result displayed will be: "@domainname.com", so no name before of the '@'.

I've tried cleaning up the results but unsuccessful so far.
Has anyone found a fix for this?

[2015-12-07 12:11] theralfbrown opened #34 "number of threads??"
how could we increase the number of threads in brute forcing??

[2015-12-07 21:14] laramies commented on #32
Hi John, can you provide me some example strings that would fail, and I will review the parser?
Cheers

[2015-12-07 21:19] laramies commented on #34
Hi, there are not thread capabilities in the DNS bruteforcing plugin. :(  I need to review that part as I have in another project implemented the threads for the DNS requests.

[2015-12-07 21:19] #34 closed

[2015-12-07 21:25] laramies commented on #30
Hi, the dictionary file handling for the DNS is bad, it is currently hardcoded in the dnssearch.py plugin as:         self.file = "dns-names.txt"
So if you have that file in the same directory as you run theHarvester it should work.  I need to add this option to the command line. Will keep this issue open until i fix this.
Thanks for the feedback.

[2015-12-08 06:44] theralfbrown commented on #34
hi.i realy realy like it.thank u for this try.

[2015-12-08 14:23] JohnLife96 commented on #32
An example would be this:

[code]

So I'm guessing the `<em>` tags get cleaned up nicely but the `<wbr>` does not.

[2015-12-10 14:27] #6 closed

[2015-12-18 21:13] mannanj opened #35 "Adding a feature; how to contribute back!"
Hi I added a feature that saves emails in .json and .csv format, to a folder within the directory called "harvestedEmails" > "Domain".

The point is to get them in easy to manipulate .json format of: {Full Name: Email address, ...}
And a .csv format of where first row is fullnames and next row is emails.

So the way this works is if you search for emails in the domain "@microsoft.com" you get a fo

[2015-12-18 22:29] laramies commented on #35
Hi Mannaj,

You can contribute doing a pull request and then I will review the code, and approve it if it is fine.

Definitely I am looking for new feature and fixes, there are other people helping with stuff.

In regards recognition I will add your name in the Readme, in the changelog when I explain the new feature I mention who made it.

Hope it helps!

Chris

From: mannanj [mailto:notifications

[2015-12-18 22:35] mannanj commented on #35
Awesome will do that, thanks for the quick reply.

[2015-12-18 22:35] #35 closed

[2015-12-29 02:59] JohnLife96 commented on #32
Another example

[code]

[2015-12-29 15:24] JohnLife96 commented on #32
It seems to be a problem with the way ```<wbr>``` are handled by the HTMLparser lib in python. I found a thread about it here: http://stackoverflow.com/questions/10341954/lxml-and-wbr-tags

I'll see if I can get a workaround.

[2016-02-12 17:43] quizbuk opened #36 "RFE - Identify URLs"
I'd like to suggest theharvester identifies URLs as well as e-mails and domains. I find a lot of sites and files that shouldn't be available publicly during OSINT analysis. There is a lot of value in this information and even more if theharvester could make them available.

[2016-03-10 23:08] laramies commented on #36
Hi Quizbuk, could you please provide some examples?

[2016-03-17 10:29] rockyhalo opened #40 "Google redirects to captcha page after few hits"
Google redirects to captcha page after few search.

After googling found this
https://support.google.com/websearch/answer/86640?hl=en

ex link
https://ipv4.google.com/sorry/IndexRedirect?continue=https://www.google.com/search%3Fnum%3D100%26start%3D0%26hl%3Den%26meta%3D%26q%3D%2522%2540domain.com%2522&hl=en&q=CGMSBF_aYP8Y-LmqtwUiGQDxp4NLWqImWuv_B6W9kLBkNtRCdvfTC2wqUGh0dHBzOi8vd3d3Lmdvb2dsZS5jb20vc2

[2016-03-21 18:41] quizbuk commented on #36
After submitting my RFE I stumbled across this:
http://www.chrisains.com/seo-tools/extract-urls-from-web-serps/
Essentially, when trying to discover information about an organization i.e. Bank of America, I look for pages or URLs that aren't advertised i.e. bankofamerica.com/secret-file-share. I was thinking the harvester might be a good utility to extract those links, but after seeing the results

[2016-04-18 20:26] laramies commented on #40
That's normal if you do a lot of queries with theHarvester, in order to prevent this you should use the googleCSE API (Custom Search Engine) in order to prevent any kind of blocking.

[2016-04-18 20:26] #40 closed

[2016-04-18 23:23] laramies commented on #36
I understand, but at the moment I work with Search engine results and I am not querying the target websites. In order to do so we need some crawling functionality.  Or do you have another idea?

[2016-04-18 23:29] laramies commented on #32
I made a change in the parser, can you please check it with the latest version?

[2016-04-18 23:29] #30 closed

[2016-04-18 23:30] laramies commented on #21
Removed. Thanks

[2016-04-18 23:30] #21 closed

[2016-04-18 23:37] laramies commented on #18
Done, I started with the latest one that is 2.7

[2016-04-18 23:37] #18 closed

[2016-04-18 23:40] laramies commented on #14
You can export to XML by using the `-f ` option.  It will save HTML and XML.

[2016-04-18 23:40] #14 closed

[2016-04-19 03:03] leebaird opened #41 "Clean up emails"
Delete any email that starts with a non-letter or number.
~`!@#$%^&*()_-+={[}]|\:;"'<,>.?/

Delete any email that contains a comma.

Convert emails to lower case.

[2016-05-01 02:32] binarymist commented on #30
Any idea when this will be going into the Kali repo? Thanks.

[2016-05-30 14:45] leebaird opened #43 "List modules in alphabetical order"
in the README file.

-baidu: Baidu search engine
-bing: microsoft search engine  - www.bing.com
-bingapi: microsoft search engine, through the API (you need to add your Key in
          the discovery/bingsearch.py file)
-google: google search engine  - www.google.com
-googleCSE: google custom search engine
-googleplus: users that works in target company (uses google search)
-google-profiles: googl

[2016-05-30 14:51] leebaird opened #44 "Missing modules"
When the tool is ran with no arguments, not all of the modules are listed.
Also place the modules in alphabetical order.

baidu - missing
bing
bingapi
google
googleCSE
googleplus
google-profiles
linkedin
pgp
shodan - missing
twitter
vhost - missing
yahoo - missing

dogpilesearch - not listed in README or tool
jigsaw - not listed in README

[2016-07-11 21:33] TehProject26 opened #45 "ImportError: cannot import name htmlExport"
[code]

Anyone have any ideas i have searched pip for htmlExport and even google with no wheel or questions on this issuse.

many thanks john

[2016-08-17 05:43] initbar commented on #45
@TehProject26 I don't think `htmlExport` is a pip package. It should be [this](https://github.com/laramies/theHarvester/blob/master/lib/htmlExport.py).

I can't say for sure as I can't repro - but could you `asciinema` from a fresh clone?

[2016-10-08 21:36] Phexcom commented on #45
I got a Fix for this issue..

nano /usr/bin/theHarvester

from  lib import *
#from lib import htmlExport   #commented this out
#from lib import hostchecker   #commented this out

nano /usr/share/theharvester/lib/htmlExport.py

from lib import *
#from lib import markup #commented this out
#from lib import graphs #commented this out

[2016-10-08 22:14] spyder-7 opened #48 "PGP keyserver"
There is also something wrong with PGP key server.
When data source given as all it started with google and then pgp and then exits.
on checking the code for pgp module in discovery:
     self.server = "pgp.rediris.es:11371"
     self.hostname = "pgp.rediris.es"
both these links are not working, any help ??

Thanks,

[2016-10-10 23:56] jamyoung commented on #48
Hi spyder-7, I have the same issue. Everything was working fine till my last dist-upgrade, and now some of my tools are broken.
Please can somebody help.
Thanks

[2016-10-11 01:12] boshox commented on #48
i will be waiting for the fix, i got the same problem.

[2016-10-11 08:20] laramies commented on #48
Hi all, seems that the keyserver is down, I will look for an alternative service and update as soon as possible. Thanks for raising the issue.

[2016-10-11 08:29] laramies commented on #48
Please check now, I changed the server.

[2016-10-11 08:56] laramies commented on #44
Done, thanks Lee!

[2016-10-11 08:56] #44 closed

[2016-10-11 08:57] laramies commented on #43
Done

[2016-10-11 08:57] #43 closed

[2016-10-11 08:58] laramies commented on #26
Hi @kaizensoze  this was fixed in the last update. thanks for raising  it.

[2016-10-11 08:58] #26 closed

[2016-10-11 08:59] #23 closed

[2016-10-11 09:48] laramies commented on #3
Latest version should be downloaded from https://github.com/laramies/theHarvester

[2016-10-11 09:48] #3 closed

[2016-10-11 09:49] #16 closed

[2016-10-11 10:00] laramies commented on #36
Closing as no other ideas where proposed.

[2016-10-11 10:00] #36 closed

[2016-10-12 01:11] spyder-7 commented on #48
Hi laramies,

Thanks, PGP Search now says "404 NOT found" but atleast harvester is not exiting at PGP now.

Here is the output:
[-] Searching in PGP Key server..
404
Not found
[-] Searching in Bing..
	Searching 50 results...

Thank you any way for quick fix.

[2016-10-12 12:20] laramies commented on #48
Hmm, something is wrong with the new server, depending on the domain you are looking fro it gets an error or the results. I will dig into other options this week.

[2016-10-25 14:54] Mavast opened #49 "No results found"
It worked like 20 minutes ago but now it just doesn´t give me any names from linkedin anymore!

command: `theharvester -d lidl.nl -l 500 -b linkedin`

[2016-11-07 21:02] damianwalters opened #50 "theharvester hangs with -b google, but works fine with -b bing"
hi.

theharvester on kali hangs with -b google, but works fine with -b bing

this is a new install in vmware guest under windows 10.

any ideas? any suggestions on where i should look first.

fyi i have a 2k8 hyper-v with same rev of kali and all works great.

thanks, damian

[2016-11-14 21:00] tomdev commented on #49
Hi @Mavast,

I'm running into the same issue when running from my remote server. When running theHarvester locally I **do** get results.

From where are you running the command?

Haven't had time to debug this yet, but perhaps some IP ranges get blocked by LinkedIn?

[2016-11-22 18:18] laramies commented on #49
That is most likely that the IP was temporary blocked.

[2016-11-22 18:18] #49 closed

[2017-02-21 04:02] dekka-sec commented on #41
Another problem is that myparser.py removes the tld from emails, at least when it comes to parsing data from pgpsearch.py.

[2017-03-14 18:56] Nmatt1 commented on #24
Laramies I am having the same problem with Kali for the Raspberry Pi. It is instrumental that  have this particular piece of software because I need it for a book I am learning from. It is called The Basics Of Hacking And Penetration Testing. How does one fix this issue?

Many thanks

Nmatt1

[2017-03-23 03:02] blshkv opened #52 "system install (as a module) support and setup.py for easier installation"
There are few minor changes would be required. Something like this:

[code]

[2017-04-24 19:38] totoroha opened #53 "Error for basic command"
my mistake!

[2017-04-24 19:46] totoroha commented on #53
My mistake!

[2017-05-04 04:01] cryptocodyclub opened #54 "Rate limit information"
Is there any way to determine when you have been rate limited with the script?

For example I want to get some emails and it would be useful to know that instead of the script returning 0 results, which could mean it didn't find any, or that I'm rate limited. That I could get get some feedback from the results saying it was limited.

[2017-05-05 09:50] dondon210 opened #55 "cannot see clearly output"
hello,

if i try theharvester with sudo theharvester.py -d domainname.* -b all

but the output is not clear at all like :

n"  div class "ftrD" id "ftrD_Language"  a class "b_toggle" role "menuitem" href " search?q %40ludia.* amp count 50 amp adlt strict amp lf 1 amp qpvt %40ludia.*" h "ID SERP,5815.1" Only English  a  a class

cause i want to search with all the top level domain , maybe i do some

[2017-05-14 13:13] kdlsw opened #56 "Cannot use socks proxy"
Due to the working environment, I have to use a proxy to get to internet, so I set up a ssh dynamic tunnel on port 1080, and put it into my kali linux system proxy setting.
This is what came up when I try to run theharvester
input `theharvester -d google.com -b all`
output
`Full harvest..
[-] Searching in Google..
Unable to determine SOCKS version from socks://127.0.0.1:1080/
`
Can someone please

[2017-05-14 13:29] kdlsw commented on #56
I figured it out, when I change the SET all_proxy and ALL_PROXY from `socks://127.0.0.1:1080/`to `socks5://127.0.0.1:1080/` it works. But since github cannot allow delete an issue...I will just leave it here

[2017-06-04 12:51] vicendominguez opened #57 "Shodan API is broken [WIP]"
There is a new Shodan API version. the old one is deprecated and it is broken.

I am working to support this new version and improve some outputs.

[2017-06-04 12:54] vicendominguez commented on #57
there we go(PR):  https://github.com/laramies/theHarvester/pull/58

[2017-06-05 10:13] phspade opened #59 "Fix Disclosing Emails"
Hello Team,

Im just wondering if there's a fix to hide emails when using your tool.. so that our email will not disclose to public.

can you suggest a possible mitigation for this?

[2017-06-22 06:14] vinnt2 opened #61 "getting 0 results after multiple sites."
After some email harvests on multiple sites.

theHarvester giving 0 results.

i think google Captcha detects it and whenever i use socks 5, http proxy, vpn same results.
Anyway to resolve this issue?

Thanks.

[2017-06-22 07:55] vinnt2 commented on #61
I am waiting further replies any help would be much well.

[2017-07-06 13:54] vadimk2016 commented on #6
Im interested

[2017-07-18 01:57] BustedSec opened #62 "Not outputting html file"
when using the syntax theHarvester -d domain.com -l 100 -b all -h myresults.html
no html file is generated

[2017-07-18 11:48] Tikam02 opened #63 "Passive attack not working in .com domains."
if you try to run the passive plugins against a url like https://abc.com, then tools are launched wrong like:
```python /usr/bin/theharvester -d com -b all -v -f -h -l 1500```

instead of
```-d abc.com```

Please give me a fast fix this is very important.

[2017-07-20 16:05] mtgnoah opened #64 "Not working on win 10 with requests installed."
It says request library not found when I installed it.

[2017-08-04 05:43] cative0 commented on #62
Actually, there is an error on example. the output file key word is "-f", not "-h", please retry by enter "theHarvester -d domain.com -l 100 -b all -f myresults.html"

[2017-08-16 06:48] Zer0ne83 commented on #45
Holy crap, thank you, @Phexcom!

[2017-08-31 11:27] sai10 opened #65 "ImportError: cannot import name rewriter_config_pb2"
I am simply following the tutorials of tensorflow and while performing following cmd its giving above mentioned issue:
python ptb_word_lm.py  --data_path=/home/priyankit/data/validsrc2-hi --model=small

error is:

Traceback (most recent call last):
  File "ptb_word_lm.py", line 68, in <module>
    import util
  File "/home/priyankit/models-master/tutorials/rnn/ptb/util.py", line 23, in <module>

[2017-08-31 14:26] vadimk2016 opened #66 "Bing search and email "at" symbol"
Looks like Bing that uses theHarvester does not search by @ symbol anymore. But code that uses search by "at" symbol still persist in program. Just to let you know.

[2017-09-04 01:11] reubadoob commented on #48
Any ETA on a fix?

[2017-09-05 06:51] raiderng commented on #48
I need some help with a problem I have with hackers I'm in desperate need
of some white hats because children are in danger.

On Sep 3, 2017 6:11 PM, "reubadoob" <notifications@github.com> wrote:

[2017-09-05 07:46] laramies commented on #48
The problem is not in theHarvester, is in the PGP key servers, if you try to search for domains like apple.com or microsoft.com servers like pgp.mit.edu will provide an error handling, some domains with little results will work.. seems that servers fails when domains have lots of results.

[2017-11-02 23:16] bulpet opened #71 "can't create report files (html / xml) after scan domain"
hi
most of time im use report files (xml/html) but i have problem with few domains.
after scanning them, theharvester cannot create the report file

for example: **theharvester -d manobi.sn -b all -f manobi_sn**
please fix it

[2017-11-09 11:28] furo1973 opened #72 "Zero results in Mac OS High Sierra"

[2017-11-09 11:28] #72 closed

[2017-11-09 11:39] furo1973 opened #73 "Zero results in Mac OS High Sierra"
Hello,
I'm running the harvester in Mac OS High Sierra, but I get zero results every time.
It seems the the software runs when I make a search but I cannot get any result even looking for mayor companies or domains.
Very newbie with theharvester and info gathering tools.
I don't know if I have to install additional libraries or Apis or there's something in Mac OS blocking theharvester.
Please help

[2017-11-22 16:05] Djent- commented on #71
While looking to see if there was an error message, I found that theHarvester does not produce the same results each time it is run. Compare the following pastes:

https://pastebin.com/VF6rCwH2
https://pastebin.com/a4vFXr87
https://pastebin.com/cqKDAzVv

I have also confirmed that the given command does not produce an output file as expected.

[2017-11-24 11:43] mzx5464 commented on #56
thanks a lot, I met the same problem and the method does work

[2017-12-06 10:00] gdymind commented on #56
I encountered the same problem, too. But it seems that `all_proxy` & `ALL_PROXY` changes back to `socks://127.0.0.1:1080/` after I exit the terminal. Could you please help me fix it?

[2017-12-06 13:57] mzx5464 commented on #56
You can just add
[code]
to `/etc/environment` and reboot

[2017-12-14 18:42] darkmatter1505 opened #75 "RequestsDependencyWarning: urllib3 (1.21.1) or chardet (2.1.1) doesn't match a supported version!"
Trying to run theharvester on kali 2017.3 rolling but I get this error message.

/usr/lib/python2.7/dist-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.21.1) or chardet (2.1.1) doesn't match a supported version!
  RequestsDependencyWarning)
Request library not found, please install it before proceeding

I have checked and my urllib3 is the correct version and my chardet is

[2017-12-15 01:05] jafetmorales commented on #65
You need to do two things. First, upgrade tensorflow by doing:

    pip install --upgrade tensorflow

Second, if you are not using a GPU, then execute the script with 0 GPUs as follows:

    python ptb_word_lm.py --data_path=/home/priyankit/data/validsrc2-hi --model=small --num_gpus=0

[2018-02-16 19:00] M4CH1N1ST opened #80 "There maybe a typo in the output string for "requests" library"
I am not sure exactly why but it says it is missing "_(int_" before the output text.

UPDATE: I'm stupid. was using Python3

[2018-03-25 23:57] blshkv opened #82 "please tag a proper release"
version 2.7.2 is mentioned in few places, but the source code was not tagged properly and it is not available for the download.

Please consider making an official release.

[2018-03-27 16:01] altmas5 commented on #80
Is Python3 not supported?

[2018-05-30 21:56] laramies commented on #80
Not yet, I will try to make it compatible in next release.

[2018-05-30 21:56] #80 closed

[2018-05-30 21:56] #48 closed

[2018-06-02 11:50] juzsingleton commented on #59
theHarvester searches public information.
I would suggest doing the google search manually seeing what sites are displaying your email. Then you can decide whether you want to remove it, ask for it to be removed or live with it.

[2018-06-11 07:37] carrie0307 opened #83 "GOOGLE CAPTCHA"
Hello！ When I use GOOGLE as data source, what if the CAPTCHA turns up? How to ensure stable data acquiring and avoid being blocked?
Thank you so much!

[2018-06-21 08:59] yizhimanpadewoniu opened #84 "The color of system cmdline become blue"
## the color of system become blue

when I use it:

![blue.jpg](https://i.loli.net/2018/06/21/5b2b687113b76.jpg)

[2018-06-28 12:20] mstampfli commented on #73
It's only the PGP plugin which is braking the code. If you exlcude it, everything runs smooth.

[2018-07-06 09:04] lux-lth commented on #48
I still have the problem using last version of theHarvester master branch

[2018-07-28 20:45] hydrastarmaster opened #86 "sudden stop and no output file"
Kali 2018.02. TheHarvester 3.0.
Executed command:    theHarvester.py -d $target_domain -l 500 -b all -f ./report.htm

The most of the time it stops during the harvest. RC=0. No preconditions.

Fault points:
[-] Searching in PGP Key server..
            Searching PGP result..
                ---->{sudden stop}

or during Virtual Hosts scanning.

The most of the time output files are not written (no

[2018-08-02 15:36] kafkaesqu3 commented on #86
I am also having this issue

[2018-08-06 09:15] gligorvlad97 opened #87 "theHarvester quits without any results"
![image](https://user-images.githubusercontent.com/42137685/43708042-2a078e4a-9972-11e8-9bbb-dc5088bab8bc.png)

After entering the last command, the only output is the green title with version, nothing more.
I use kde neon, i installed the library request, also i am no pro user of linux, any ideas?

[2018-08-08 11:45] whoot opened #88 "Cant provide a list of sources ??"
Hey,

am I overlooking something or is it not possible to provide multiple sources?
I know I can specify sources with -b, but this allows only 1 parameter.
This means that if I want to check lets say _google, bing and twitter_ I cant do something like:

theharvester -d example.com -b google,bing,twitter

Instead I have to start the harvester 3 times ...

theharvester -d example.com -b google
theha

[2018-08-08 12:19] whoot opened #89 "Twitter output unreliable"
Hey,

the Twitter output is absolutely unreliable. There are many Twitter "users" which are false positives.The following "users" are nearly in every request:

[code]

[2018-08-16 17:54] vladwelt commented on #87
You should write just the domain:

`python theHarvester.py -d kali.org -b all -d output.xml`

I hope this helps you, greetings.

[2018-09-08 01:55] yaleman opened #91 "python3 changes"
Is it worth my time submitting pull requests to support python 3?

I have a load of changes that wouldn't break the python2 version which would get the codebase closer to being supported with python3.. which is important because v2's officially going away in the future.

[2018-09-10 12:02] yaleman commented on #86
If you're using the current codebase it's because the PGP server that theHarvester makes requests to is not responding to requests. You can fix that by editing discovery/pgpsearch.py and uncommenting the MIT one. That can give inconsistent results too, however.

[2018-10-11 02:18] blshkv commented on #82
The latest release seems was tagged in August but only released recently (https://github.com/laramies/theHarvester/releases/tag/v3.0)

@laramies do you read bugs/pull requests? Feel free to close the issue.

[2018-10-18 10:53] jzold commented on #88
hey whoot,

I'll take a look and provide a potential fix for this shortly.

[2018-10-18 11:48] tacticalDevC opened #94 "[Feature Request] Add intelx.io"
Intelx.io is a new search engine made in Austria/Czechia. It utilizes the dark web andnorth corean sites. It would be a HUGE improvement if you add this search engine!

[2018-10-20 18:43] laramies commented on #82
Thanks @blshkv I will make sure to tag the code and releases going forward!

[2018-10-20 18:43] #82 closed

[2018-10-22 08:04] blshkv commented on #52
I noted that there is a new sqlite database in use. That should be installed into homedir ~/.theHarverster . The wordlist can be installed into a shared directory.

[2018-10-22 19:50] laramies commented on #89
Those are not users, seems to be part of the CSS Stylesheet, I will filter the results for Twitter to remove that in next release.

[2018-10-22 19:51] laramies commented on #88
Closing this one, as @jzold fix provides that functionality, I tried with  -b crtsh,virustotal and works fine. :)

[2018-10-22 19:51] #88 closed

[2018-10-22 19:52] laramies commented on #87
Correct @vladwelt comments is right, the format for the domain is without the HTTPS://

[2018-10-22 19:52] #87 closed

[2018-10-22 19:56] laramies commented on #86
That's right, the PGP error is due to the server from Rediris being down, but in theory in the latest release the default one is the MIT, i just tried an it worked fine. If you have further ideas on how to improve PGP search please open a new issue.

[2018-10-22 19:56] #86 closed

[2018-10-22 19:58] laramies commented on #84
Sorry, it might be a particular case that doesnt finish correctly and it doesnt return to standard colours. will try to check for the error in next release.

[2018-10-22 19:59] laramies commented on #73
I consider this issue closed as per @mstampfli suggestion.

[2018-10-22 19:59] #73 closed

[2018-10-22 20:01] laramies commented on #83
I dont have any CAPTCHA detection yet, but should be easy to add it. Depends on how frequently you send searchs to Google you will be get easily get blocked.

[2018-10-22 20:01] #83 closed

[2018-10-23 09:55] jzold commented on #75
hi darkmatter1505

This ticket is without any updates for a long time :) In fact ever since quite a few kali versions have been released. The version you were using at the time might had dependency issues (sometimes it may happen) which now has been fixed.

As of today the latest is Kali 2018.3. I had a quick look and by default it comes with theHarvester v2.7.2. I tested and harvester works perfe

[2018-10-25 02:47] Andrewblood opened #96 "shodan"
When the server have more adresses it searches to fast with shodan
That's the output:

[-] Shodan DB search (passive):
 Request rate limit reached (1 request/ second). Please wait a second before trying again and slow down your API calls.

On https://developer.shodan.io/api stands also Note: All API methods are rate-limited to 1 request/ second. please fix that or help me to fix that.

[2018-10-25 14:31] jzold commented on #96
Hi Andrew,

There is a relatively quick fix for this, I'll take a look shortly

J./

[2018-10-25 14:59] NotoriousRebel commented on #94
This looks very interesting I could start working on this sometime soon, the only problem is that they are onion sites and the requests library doesn't work very well with them.

[2018-10-25 16:38] NotoriousRebel commented on #94
@tacticalDevC I believe the request library would be easiest as you can have an optional argument when sending a request to go through a proxy. Would using proxies off a free proxy list be sufficient?

[2018-10-26 20:34] laramies commented on #96
Closing this issue as @jzold provided a workaround.

[2018-10-26 20:34] #96 closed

[2018-10-26 20:37] laramies commented on #91
Could be a good option to start with a few files, see how it goes, and then continue with the rest?  if there is not going to break Python2 should be good.

[2018-10-26 20:37] #75 closed

[2018-11-01 17:57] jzold commented on #63
hi Tikam02,

I'm not clear what the issue here is. When you run theHarvester it gives you a few examples on how to use it. The -d switch accepts domain names to target.

Unless your issue is still relevant I propose closing this ticket.

J./

[2018-11-02 18:22] #63 closed

[2018-11-02 23:16] jzold opened #100 "[New Feature - Censys]"
Hi all,

I've added a new search engine (Censys) to theHarvester to make it even more powerful.

For now the Censys module does the following:
- Gets all the IP addresses for a domain (limited to 100 results)
- Gets all the hostnames associated with that domain (limited to 100 results)

The censys module uses BeautifulSoup4 for parsing.

Notes: the limit is 10 searches/day without a censys account

[2018-11-10 07:11] jzold commented on #66
Hi,

You are correct...Bing as a search engine no longer yields email addresses in the search results. Thanks for flagging this.

I suggest closing this issue due to inactivity

J./

[2018-11-10 19:17] jzold commented on #71
Hi,

I'll take a closer look. To clarify there are 2 issues as I understand from bulpet and Djent:

1. theHarvester with the "-f" switch produces only XML file as an output but not HTML
2. Inconsistent results as pointed out by Djent

I'll focus on issue 1. I'm able to reproduce the issue with the latest version of theHarvester (v3.0.0.0). I'll provide a fix shortly. I recommend tracking issue 2 a

[2018-11-22 21:32] laramies commented on #91
Python3 compatible now!

[2018-11-22 21:32] #91 closed

[2018-11-22 21:34] laramies commented on #71
Closing as the original issue is fixed by @jzold

[2018-11-22 21:34] #71 closed

[2018-11-25 22:13] leebaird opened #105 "Google CSE"
./theHarvester.py -d target.com -b googleCSE

Traceback (most recent call last):
  File "/root/theharvester/theHarvester.py", line 676, in <module>
    start(sys.argv[1:])
  File "/root/theharvester/theHarvester.py", line 200, in start
    db.store_all(word,all_hosts,'email','googleCSE')
UnboundLocalError: local variable 'all_hosts' referenced before assignment

[2018-11-26 19:05] NotoriousRebel commented on #105
Here is the solution:
[code]

[2018-11-26 19:05] NotoriousRebel commented on #105
The problem was just the order in which things occurred, that must've slipped through in development thank you for pointing it out!

[2018-11-26 21:10] leebaird commented on #105
Thanks for the quick resolution! Hopefully Chris will commit soon.

[2018-11-27 16:21] njfox commented on #75
I just got this error today on a fresh kali image. I installed `theharvester` from the official repositories and got the following error when I tried to run it:
[code]
`python-urllib3` and `python-chardet` are installed and are the correct versions based on the output.

[2018-11-27 22:29] laramies commented on #105
Fixed now

[2018-11-27 22:29] #105 closed

[2018-12-02 15:01] Faeris95 opened #110 "Results from 2 sources are not merged"
Hi,
When I specify two sources to search from : google,bing
theHarvester searches with bing, then google but only the results from Google are showed and saved.

Best regards

[2018-12-03 15:14] Faeris95 commented on #110
In the case of automated scripts, that's not the better way. The functionality does exist, it should work ! :)

[2018-12-04 01:15] NotoriousRebel commented on #110
Here is a quick workaround in the meantime :
python3 theHarvester.py -d cornell.edu -b google -l 500 | cat > /filepath/ && python3 theHarvester.py -d cornell.edu -b bing -l 500 | cat >> /filepath/

[2018-12-04 01:20] NotoriousRebel commented on #110
This could be something implemented down the line, I believe the reason is the tool was primarily built for one search engine at a time or all. Although, it shouldn't be too hard to change.

[2018-12-06 03:47] leebaird opened #111 "GoogleCSE is broken"
Using my API key in googleCSE.py

Traceback (most recent call last):
   File "/usr/share/theharvester/theHarvester.py", line 678, in <module>
      start(sys.argv[1:])
   File "/usr/share/theharvester/theHarvester.py", line 202, in start
      db.store_all(word,all_hosts,'email','googleCSE')

[2018-12-06 16:06] NotoriousRebel commented on #111
Thank you for the heads up this is getting looked at.

[2018-12-06 16:12] NotoriousRebel commented on #111
I notice one problem immediately in which it should be
```db.store_all(word,all_emails,'email','googleCSE')``` on line 201 not
```db.store_all(word,all_hosts,'email','googleCSE')```

[2018-12-10 22:08] laramies commented on #110
I will look into that, as it should work as @Faeris95 is expecting.

[2018-12-14 10:11] Faeris95 commented on #110
Thanks :+1:

[2018-12-15 01:39] leebaird opened #117 "Clean up repo"
Would like to suggest cleaning up the repo starting with the oldest PR from Jul 17, 2011.
There are 9 Pull requests that date before the current year.

Then doing the same with Issues, again with the oldest Issues from Jul 17, 2011.
There are 19 Issues that date before the current year.

[2018-12-17 16:07] tdefise opened #120 "Change hunterio to hunter"
Line 51, change "hunterio" to "hunter" as it is tacking "hunter" as parameter on line 137

[2018-12-17 16:10] tdefise commented on #120
#121

[2018-12-17 21:03] #120 closed

[2018-12-17 23:16] laramies commented on #110
Should be fixed now @Faeris95

[2018-12-17 23:16] #110 closed

[2018-12-19 10:12] aiddroid commented on #49
same issue.no results and no erorrs.

[code]

[2018-12-19 12:36] mehmetozbakir opened #125 "No Result Issue"
Hello Dear,
I'm trying it on Ubuntu 16.04 LTS x86_64 (ISO) via VPS server, When I tried first time 2 domains it was work but after that doesn't work even same domain doesn't work. No Result... What should be the problem?

*******************************************************************
*                                                                 *
* | |_| |__   ___    /\  /\__ _ _ ____   _

[2018-12-19 13:40] PlasmaHH opened #126 "improvements on running with -b all"
Hi, there are a couple of points that might running with -b all easier/ more maintainable

- replace the if(engineitem == "all") with a previous check of if it contains all, if yes replace engines by supportedengines and let the if/elif tree mechanism handle it. No duplciation of the call and output later on

- wrap the whole if/elif thing in a try/except and let the modules throw errors instead o

[2018-12-19 14:12] BlAd373 opened #127 "hunter api issue"
You need an API key in order to use the Hunter search engine. You can get one here: https://hunter.io
I put the api key on /usr/share/theharvester/discovery/huntersearch.py
self.database = "https://api.hunter.io/v2/domain-search?domain=" + word + "&api_key=xxxxxxxxxxxxxxxxxxxxxxxx" + self.key +"&limit=" + str(self.limit)
but same error

[2018-12-19 19:23] NotoriousRebel commented on #127
What you want to do is:
self.key = *your_api_key*
I just tested it with my api key and it seems to be working is your key expired?
Do you have any requests left? I know hunter limits your requests depending on what plan you're on.

[2018-12-19 20:38] leebaird commented on #126
One of the problems with this option is the 'all' option is missing 11 data sources. Those include:
baidu, cymon, dogpile, googleplus, google-certificates, google-profiles, linkedin, trello, twitter, ghost, and yahoo. You will see placeholders that I have added if my PR gets added.

[2018-12-19 20:52] NotoriousRebel commented on #125
It may be google blocking your requests, try now and see if that still happens.
Google should be blocking your requests less once my PR gets merged.

[2018-12-19 21:44] #127 closed

[2018-12-19 21:44] laramies commented on #125
Highly likely that's the case, try with the latest version please and let us know. I am closing it due to being an external cause :(

[2018-12-19 21:44] #125 closed

[2018-12-19 23:08] leebaird opened #128 "Version number in README"
The version number in README needs changed to 3.0.6 to match the version release.

[2018-12-20 09:35] mehmetozbakir commented on #125
Brother, already it's latest version 3.0.5?

[2018-12-22 22:17] NotoriousRebel commented on #128
Resolved!

[2018-12-22 22:17] #128 closed

[2018-12-23 03:53] NotoriousRebel commented on #62
This has been fixed you can run with -f and the report html has been improved!
Closing.

[2018-12-23 03:53] #62 closed

[2018-12-23 03:54] NotoriousRebel commented on #59
This is all open source information, the only way to truly prevent this is by making your emails less well known to the public., figure out the root cause.
Closing!

[2018-12-23 03:54] #59 closed

[2018-12-23 03:57] NotoriousRebel commented on #64
Make sure it is pip installed you can cd into Python27\Scripts and run pip install requests from there.
Closing!

[2018-12-23 03:57] #64 closed

[2018-12-23 03:58] NotoriousRebel commented on #54
This has just been implemented sorry for taking so long! The only thing that usually limits requests is Google but we are working on it.
Closing.

[2018-12-23 03:58] #54 closed

[2018-12-23 03:58] NotoriousRebel commented on #53
Closing since figured out.

[2018-12-23 03:58] #53 closed

[2018-12-23 04:00] NotoriousRebel commented on #55
@dondon210 has this been fixed, sorry for late reply.
Try running as seen in the examples and output should be just fine!

[2018-12-23 04:02] NotoriousRebel commented on #61
@vinnt2 sorry for replying so late! Google does limit requests after a certain amount, this is currently being worked on and will now notify you if your requests are being blocked!
Closing.

[2018-12-23 04:02] #61 closed

[2018-12-23 04:04] NotoriousRebel commented on #52
@blshkv would you want to create an install.sh for this? There is currently a dockerfile and you can also git clone it.

[2018-12-23 04:06] NotoriousRebel commented on #89
As this has been fixed, closing.

[2018-12-23 04:06] #89 closed

[2018-12-23 04:06] NotoriousRebel commented on #50
@damianwalters this should be fixed now! Sorry for the late reply.

[2018-12-23 04:10] NotoriousRebel commented on #13
This has been implemented!
Closing.

[2018-12-23 04:10] #13 closed

[2018-12-23 04:12] NotoriousRebel commented on #45
As this has been resolved, closing.

[2018-12-23 04:12] #45 closed

[2018-12-23 05:35] blshkv commented on #52
no, that would be a wrong approach. It has to be setup.py which should list the required dependencies and define system location of all files. The tool should also support system-wide installation, i.e. installed under root into ```/usr/share``` or ```/usr/lib{32,64}``` and a regular user should be able to run it. That would also require  to move all write operations (database, outputs) from a ```

[2018-12-23 19:19] NotoriousRebel commented on #52
@blshkv would you want to work on this and submit a pull request?

[2018-12-23 23:33] blshkv commented on #52
Sorry, I don't have bandwidth for development of other tools. Just a simple bug reporting (like this issue) and maintaining hundreds  of packages takes a fair amount of time which I could afford.

[2018-12-27 01:37] L1ghtn1ng opened #134 "Cymon.io v2 API"
V2 of the API is coming soon, so this will need to to be updated to support this

http://docs.cymon.io/#top

[2018-12-27 09:31] emce69 opened #139 "error line 748 and 476"
Traceback (most recent call last):
  File "theHarvester.py", **line 748,** in <module>
    start(sys.argv[1:])
  File "theHarvester.py", **line 476**, in start
    if (len(all_ip) == 0):
UnboundLocalError: local variable 'all_ip' referenced before assignment
None

[2018-12-27 17:11] NotoriousRebel commented on #139
How did you run it? Also, is it up to date?

[2018-12-27 17:21] emce69 commented on #139
I run it in python3 in kali linux distro . And yes it is up to date.

[2018-12-27 18:31] NotoriousRebel commented on #139
@emce69 how did you run the tool?
For example did you do something like
```python3 theHarvester.py -d acme.com -b all```

[2018-12-28 01:40] L1ghtn1ng opened #142 "Make the min py version 3.6"
I would like to propose that we remove all python2 support and have python3.6 as the minimum supported python version due to having static type checking which will help improve the code base a lot and and f-string support. As python2 is EOL in 2020.

[2018-12-28 02:31] L1ghtn1ng commented on #52
Hi All, I have updated the documentation for the dependencies but it needs to be merge and when you run the tool for the first time it creates the sqlite DB

[2018-12-28 03:56] NotoriousRebel commented on #142
That sounds great and would bring code readability to another level.
However, people are stubborn and refuse to change, until python2 has reached EOL it
should be supported. As people still use it with python2 and introducing type checking
would break backwards compatibility.

[2018-12-28 04:00] L1ghtn1ng commented on #142
I understand but I think if they really want to use this tool then they should be able to use a virtualenv to get it running ??

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matt <notifications@github.com>
Sent: Friday, December 28, 2018 3:56:51 AM
To: laramies/theHarvester
Cc: J.Townsend; Author
Subject: Re: [laramies/theHarvester] Make the min py version

[2018-12-28 04:03] L1ghtn1ng commented on #142
I am just really a big fan of using newer features, and not wanting to wait around when it will make a massive difference. As I think using the requests html library would really help us out but that needs py3.6 minimum

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jay Townsend <townsend891@hotmail.com>
Sent: Friday, December 28, 2018 4:00:08 AM
To: larami

[2018-12-28 04:08] L1ghtn1ng commented on #142
What would also help with readability of the code 8s not having ```for X in foo``` variables/classes/functions/methods should always be called what the are doing. I have just made sure from day one of me learning python to follow certain style peps and keep code clean.
________________________________
From: Jay Townsend <townsend891@hotmail.com>
Sent: Friday, December 28, 2018 4:03:14 AM
To: laram

[2018-12-28 04:11] L1ghtn1ng commented on #142
That is meant to be is not 8s, guess that happens when you type on a phone that likes to autocorrect you
________________________________
From: Jay Townsend <townsend891@hotmail.com>
Sent: Friday, December 28, 2018 4:08:53 AM
To: laramies/theHarvester; laramies/theHarvester
Cc: Author
Subject: Re: [laramies/theHarvester] Make the min py version 3.6 (#142)

What would also help with readability of

[2018-12-28 16:36] tacticalDevC commented on #94
@NotoriousRebel I guess so

[2018-12-28 20:15] leebaird commented on #56
This is an issue related to the OS and not to theHarvester.

[2018-12-28 22:09] NotoriousRebel commented on #55
As this has been resolved, closing!

[2018-12-28 22:09] #55 closed

[2018-12-28 22:11] NotoriousRebel commented on #9
As this has been resolved, closing!

[2018-12-28 22:11] #9 closed

[2018-12-28 22:12] NotoriousRebel commented on #56
As this issue was resolved and is not related to theHarvester, closing!

[2018-12-28 22:12] #56 closed

[2018-12-28 22:12] NotoriousRebel commented on #65
As this issue is not related to theHarvester, closing!

[2018-12-28 22:12] #65 closed

[2018-12-28 22:14] NotoriousRebel commented on #32
As this has been resolved, closing!

[2018-12-28 22:14] #32 closed

[2018-12-29 22:07] NotoriousRebel commented on #2
As this is seven years old and DNS works properly, closing!

[2018-12-29 22:07] #2 closed

[2018-12-29 22:18] NotoriousRebel commented on #94
This will be added in the somewhat near future as their API page https://api.intelx.io/ leads to a 404 error, it will be added when better support for their API arrives.

[2018-12-29 22:21] NotoriousRebel commented on #57
As the PR exists visit there to resolve conflicts, and to update.
Closing!

[2018-12-29 22:21] #57 closed

[2018-12-30 15:45] Nyrio opened #143 "Lower-cased trello links don't work"
Hi,

I have used the tool to find some public Trello boards and files and succeeded to do so. The links are in lower-case though, so in order to find the real URL I have to use my search engine, and even though I quickly find some of the boards, some are harder to reach.

Would it be possible to have the links in the original case?

[2018-12-30 17:42] NotoriousRebel commented on #143
Yes, the reason why it was happening is because the trello_urls were getting filtered. When a list gets filtered it creates a new list with everything lowercase.

[2018-12-30 19:55] Nyrio commented on #143
Is there any reason to use `lower()` here?:
[code]

It seems a bit weird to me: this code doesn't prevent having a duplicate in `new_lst` if multiple items were similar but in a different case, and it loses the case information (which can breaks URLs).

[2018-12-30 20:08] leebaird commented on #143
URLs are fixed with PR 144.

[2018-12-30 20:09] NotoriousRebel commented on #143
Things are lowered for hostnames and emails, Trello urls were mistakingly getting filtered.

[2018-12-30 20:42] Nyrio commented on #143
Ok I'm happy with PR #144 then. Closing

[2018-12-30 20:42] #143 closed

[2018-12-30 21:19] leebaird commented on #142
Kali Linux is running Python 3.6.8rc1.

[2018-12-31 06:19] emce69 commented on #139
dude its working now, I have type error. Anyway thanks dude :)

[2018-12-31 06:20] #139 closed

[2019-01-01 03:03] L1ghtn1ng commented on #52
@blshkv My changes have been merged can you take a look at the README.md please?

[2019-01-01 05:36] blshkv commented on #52
Not sure what to look for. Does the tool support system install using setup.py?
No.

Will it only from the current folder? Yes.
 So nothing changed

[2019-01-01 05:42] L1ghtn1ng commented on #52
The dependencies section and will look to getting the Kali patch upstreamed which should fix this
________________________________
From: Anton Bolshakov <notifications@github.com>
Sent: Tuesday, January 1, 2019 5:36:08 AM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] system install support and setup.py for easier installation (#52)

Not sure what to look fo

[2019-01-01 17:32] Deskord opened #146 "error"
[-] Searching in Google.
	Searching 0 results...
	Searching 100 results...
('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))
Traceback (most recent call last):
  File "theHarvester.py", line 847, in <module>
    start(sys.argv[1:])
  File "theHarvester.py", line 185, in start
    search.process(google_dorking)
  File "/home/deskord/Documents/theHarvester/discovery/goog

[2019-01-01 17:55] Deskord commented on #146
I decided everything Sorry

[2019-01-01 17:57] Deskord commented on #146
I decided everything Sorry

[2019-01-02 02:30] blshkv commented on #52
I have tried it, still long way to go.

[code]

https://docs.python.org/3/installing/index.html#installing-index

[2019-01-02 03:29] blshkv opened #148 "requirements.txt list is too strict"
The current requirement (==) is too strict. Please do not raise the bar without a good reason and use ```>=``` instead.

See https://github.com/byt3bl33d3r/CrackMapExec/issues/285 for more details

[2019-01-02 18:11] NotoriousRebel commented on #148
Apologies for that, it has been updated!

[2019-01-03 19:28] #148 closed, assigned to nobody

[2019-01-09 21:55] NotoriousRebel commented on #142
As this has been implemented, closing!

[2019-01-09 21:55] #142 closed

[2019-01-11 20:41] leebaird commented on #84
Fixed with my latest PR.

[2019-01-12 00:57] NotoriousRebel commented on #84
As this has been fixed, closing!

[2019-01-12 00:57] #84 closed

[2019-01-13 17:40] leebaird opened #154 "censys broke"
[*] Searching Censys.
Error occurred in the Censys module IP search: page parser: list index out of range
Error occurred in the main Censys module: '<=' not supported between instances of 'NoneType' and 'int'

[2019-01-13 18:14] leebaird commented on #146
This can be closed.

[2019-01-13 22:08] leebaird opened #155 "duckduckgo broke"
python3 theHarvester.py -d cnn.com -l 100 -b duckduckgo

Exception occurred: list index out of range
Traceback (most recent call last):
  File "/theHarvester/discovery/duckduckgosearch.py", line 54, in crawl
    val = val[0]  # First value should be dict.
IndexError: list index out of range
None

[2019-01-14 02:19] NotoriousRebel commented on #155
As this has been resolved, closing!

[2019-01-14 02:19] #155 closed

[2019-01-14 05:04] weaknetlabs opened #158 "print(f'...') issue with possible substitution attempt"
Hello, the code is a mess now. It looks like there was a  global substitution attempt withe the "print" statements and they turned out as "print(f'foo bar');" I can' seem to figure out a use case in which this would have happened. ?

For instance in discover/censys.py:

[code]

I ran through the code and cleaned it all up (many files are like this) by just removing the "f" portion and it seems to

[2019-01-14 09:28] digininja opened #159 "command line parameter order matters"
The order of the parameters on the command line matters, running with `-b` first causes an error:

[code]

But swapping it to the end works fine:

[code]

It also fails with it in the middle so I'm guessing it is the parsing of the multiple values you can pass to `-b` that causes the problem.

[2019-01-14 15:14] NotoriousRebel commented on #158
@weaknetlabs Those are fstrings which is a new feature introduced in python3.6 they are faster than using  .format, % format, and concatenating with a +. Their purpose is to format strings better; however, that means that the tool does not support python 2 anymore. Which is fine as python2 is going EOL soon.

[2019-01-14 15:14] NotoriousRebel commented on #146
As this is on user end closing! The tool works properly when a stable internet connection is available.

[2019-01-14 15:14] #146 closed

[2019-01-14 15:45] weaknetlabs commented on #158
@NotoriousRebel Thank you for the help. I am a newbie Python user. I have a lot of infosec tools in my distros that use one or the other and unfortunately I have to keep both python2 and python3 to get the best (most useful at least) experience to my users. Next time, I'll know because of your advice and help.

Thank you again.
~Douglas

[2019-01-14 15:45] #158 closed

[2019-01-14 15:59] wzulfikar opened #160 "Allow specifying custom wordlists directory"
I was running `theHarvester` from outside of repo directory and realized that it'll yield unexpected result because it couldn't find `wordlists/` directory. This is because theHarvester use `wordlists/` directory relative to where the repo is cloned (ie. `~/code/github/theHarvester/wordlists/`).

What could possibly go wrong if we allow user to specify custom wordlists directory?
For now, what I d

[2019-01-14 16:06] leebaird commented on #159
Thanks digininja. We are aware and working on a fix.

[2019-01-14 16:27] #159 closed, assigned to nobody

[2019-01-16 03:59] NotoriousRebel commented on #160
We are currently making the switch from getopt to argparser to make arg parsing easier, this is something that could be implemented.

[2019-01-16 05:49] wzulfikar commented on #160
I see. Guess I'll close the ticket and use the forked version for now, while waiting for the switch. Thanks!

[2019-01-16 05:49] #160 closed

[2019-01-19 08:21] williamcaput opened #161 "Issues with installation on Kali"
Cloned the repository to a recent Kali install.
# pip install requirements.txt
collecting requirements.txt
Could not find a version that satisfies the requirement requirements.txt (from versions: )
No matching distributions found for requirements.txt

[2019-01-19 21:54] williamcaput commented on #161
exact same error when using pip3

[2019-01-19 21:56] NotoriousRebel commented on #161
What version of kali are you using? Does it have python3 installed?

[2019-01-19 21:59] williamcaput commented on #161
its the rolling release. 10/9/2018
python3 is installed.
I don't believe the issue is pip, its related to the requirements. as if they aren't recognized.

[2019-01-19 22:03] NotoriousRebel commented on #161
try python3 -m pip install -r requirements.txt

[2019-01-20 03:12] L1ghtn1ng commented on #154
I would say that we should just move to there python lib than role our own. This should stop issues like this as we have done that with shodan

[2019-01-22 17:01] leebaird commented on #154
I totally agree.

[2019-01-24 16:22] evantoday opened #164 "SyntaxError: invalid syntax"
python3 theHarvester.py -d acme.com -b all
  File "theHarvester.py", line 84
    print(f'\033[94m[*] Target: {word} \n \033[0m')
                                                 ^
SyntaxError: invalid syntax

[2019-01-24 18:51] NotoriousRebel commented on #164
The reason why this is happening is that the print statement is using an fstring (new feature added in python3.5) to make string formatting easier and faster. However, this means that the tool no longer works with Python2. Try running with python3 and the tool should work.

[2019-01-24 19:44] evantoday commented on #164
thanks brother i'll close this

[2019-01-24 19:44] #164 closed

[2019-01-25 04:21] pzlee opened #165 "how to do?"
![image](https://user-images.githubusercontent.com/17840800/51725143-ad3d3480-209b-11e9-8175-eeb887926592.png)

[2019-01-25 05:52] leebaird commented on #165
What is your question?

[2019-01-25 06:08] pzlee commented on #165
I can't find this config file.where

[2019-01-25 08:59] Grey-Hat86 opened #166 "Shodan Module Not Found"
After cloning the latest version into Kali, I am faced with the following error when running theharvester.py without arguments.

Traceback (most recent call last):
  File "./theHarvester.py", line 3, in <module>
    from discovery import *
  File "/opt/theHarvester/discovery/shodansearch.py", line 3, in <module>
    from shodan import exception
ModuleNotFoundError: No module named 'shodan'

I've h

[2019-01-25 16:47] NotoriousRebel commented on #166
After you cloned the tool did you do ```python3 -m pip install -r requirements.txt```

[2019-01-25 18:59] NotoriousRebel commented on #165
when you clone the repo it should be in the directory theHarvester

[2019-01-26 06:17] pzlee commented on #165
thanks!
![image](https://user-images.githubusercontent.com/17840800/51783462-10e76080-2175-11e9-9451-ce2e668bc398.png)

[2019-01-26 18:54] Grey-Hat86 commented on #166
@NotoriousRebel Thanks very much Matt, completely missed that one. This has done the trick.

[2019-01-26 18:54] #166 closed

[2019-01-26 21:46] greenchili opened #167 "No email results"
Version: 3.0.6 v213
Python: 3.6.7

I have found that I regularly get no email results from pages that have emails in plain text. Here are a couple of random examples:

./theHarvester.py -d dorsethomechoice.org -l 100 -b google
./theHarvester.py -d pembrokefinearms.co.uk -l 100 -b google

However the following examples do work:

./theHarvester.py -d edge-security.com -l 100 -b google
./theHarvester

[2019-01-27 01:39] L1ghtn1ng commented on #165
@pzlee This version is not in kali yet as we have not done a github tagged release yet, for the time being you will need to add your keys to constants.py

[2019-01-27 01:40] L1ghtn1ng commented on #165
@pzlee or do a git clone

[2019-01-27 01:42] L1ghtn1ng commented on #167
@greenchili Google will block your IP for a bit if you make to many requests in one go, try using duckduckgo as the source and see what you get and you will want to do a git pull as well

[2019-01-28 00:55] leebaird opened #172 "The limit switch (-l) does not work on all modules"
threatcrowd defaults to 500 hosts.
securityTrails defaults to 2000 hosts.

[2019-01-31 20:58] laramies commented on #154
Plugin working.

[2019-01-31 20:58] #154 closed

[2019-01-31 21:03] #167 closed

[2019-01-31 21:04] #165 closed

[2019-01-31 21:16] leebaird commented on #111
No more stack track. Just no results.

[2019-02-04 12:43] dkasak opened #175 "Mixed line endings"
The source code currently contains a mixture of Unix (LF) and Windows (CRLF) line endings, which breaks the codebase. It appears at least some of the problems stem from d7d7d6a61e6c562a8f4924e4c4c32c16870218b5 when a bunch of CRLF endings was improperly committed to the repo.

Literal CRLF endings should never be committed to git for text files. git always works with LF internally, optionally conv

[2019-02-05 15:17] YuriyPobezhymov opened #177 "Bing search with at symbol"
Hello.
I found that theHarvester tool uses such requests to retrieve domain info through bing: '@domain.com'.
It's doesn't find anything for my researches. But I found that for google search it uses such search: '@"domain.com"'. I tried to modify bing search - and yes it shows me much bigger search result.

What do you thinking about? May we can improve that.

[2019-02-05 16:38] YuriyPobezhymov commented on #177
Ok.

[2019-02-08 06:07] UncleRaymondo opened #179 "Incorrect Error Messages for API Keys"
Hi,

This is v3.0.6 running on Kali 2019.1

Seems like the error message from huntersearch.py is duplicated in googleCSE.py with respect to the API Key (self.key == "") so you can't really tell which one is causing an issue.

Not sure if this has been repeated in the other files :)

Cheers,
Ray

[2019-02-08 06:14] UncleRaymondo commented on #179
Correction - it looks like the URL in the error is correct, it just says Hunter Search Engine, so only Minor :)

[2019-02-08 20:46] #175 closed

[2019-02-09 18:32] OsirisOsil opened #180 "Problem in windows !"
theHarvester\theHarvester.py", line 84
    print(f'\033[94m[*] Target: {word} \n \033[0m')
                                                 ^
SyntaxError: invalid syntax

what the f after print( doing there ?

[2019-02-09 18:35] L1ghtn1ng commented on #180
Hi, that f is a new feature in py3.6 that are called f-strings. You need to make sure you have python3.6 installed and this will resolve your issue
________________________________
From: OsirisOsil <notifications@github.com>
Sent: Saturday, February 9, 2019 6:32:35 PM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] Problem in windows ! (#180)

theHarvester\theHarvester.py

[2019-02-09 18:39] OsirisOsil commented on #180
Ooh thanks I thought it still working on py2 :D am old I know :p

[2019-02-09 18:40] L1ghtn1ng commented on #180
If you look at the readme on our GitHub page you will see it is py3.6 or higher
________________________________
From: OsirisOsil <notifications@github.com>
Sent: Saturday, February 9, 2019 6:39:03 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Problem in windows ! (#180)

Ooh thanks I thought it still working on py2 :D am old I know :p

—
You are receivi

[2019-02-09 18:40] #180 closed

[2019-02-10 07:01] NotoriousRebel commented on #179
If you are using the latest version the error messages should be correct.

[2019-02-10 21:52] L1ghtn1ng opened #183 "Python 3.8 issue and deprecation for v3.6/7"
For py3.6/7 we have deprication warnings. With py3.8 we will get a syntax error, so we need to resolve these by making sure pytest does not complain about them

=============================== warnings summary ===============================
parsers/myparser.py:40
  /home/travis/build/L1ghtn1ng/theHarvester/parsers/myparser.py:40: SyntaxWarning: invalid escape sequence \-
    '[a-zA-Z0-9.\-_+#~!$&

[2019-02-11 21:45] L1ghtn1ng commented on #177
This has been fixed in master

[2019-02-11 21:45] #177 closed

[2019-02-12 21:08] laramies commented on #172
Yep, this depends on the source and the limitations... so it makes sense to have different limits. To clarify the limits are on the number of results expected from the Search engines mainly.

[2019-02-12 21:08] #172 closed

[2019-02-13 09:36] whoot opened #184 "Twitter output needs cleaned up"
Hey,

the twitter output problem (see #89 ) is still not fixed!
Getting still the following false positive output:
[code]

[2019-02-14 03:58] NotoriousRebel commented on #184
This will be improved upon in the filter thanks for bringing it to our attention!

[2019-02-14 22:16] #126 closed

[2019-02-15 01:28] NotoriousRebel commented on #52
@blshkv what do you think of the PR for setup.py?

[2019-02-15 03:44] leebaird opened #188 "Netcraft is broken"
Looks like line 19 in discovery/netcraft.py needs updated.

'https://searchdns.netcraft.com/?restriction=site+ends+with&host=' + self.word

New example: https://searchdns.netcraft.com/?host=yale.edu&x=0&y=0

[2019-02-15 04:55] leebaird opened #189 "Dogpile is broken"
Error Occurred: requests.exception.ConnectionError.

I think we talked about this earlier, it had to do with SSL certs.
Make them real strings, that should solve the deprecation new things.

[2019-02-15 07:55] blshkv commented on #52
I have tried to convert the harvester into a proper python module but this is a major re-design and I'm unable to test all functions. As I said, I have no time to rewrite it, however I will be happy to test your progress. I can also help with minor fixes, once the direction of the development is clear.

[2019-02-15 15:01] #179 closed

[2019-02-16 04:44] NotoriousRebel commented on #184
@whoot the twitter output should be drastically improved now. Feel free to test it.

[2019-02-16 14:08] whoot commented on #184
Hey,
thanks for the update. Tested different domains, still get the following false positives in every request:

@-webkit-keyframes
@broofa.com
@keyframes
@media

[2019-02-16 21:09] #183 closed

[2019-02-18 05:13] NotoriousRebel commented on #184
This will be fixed soon.

[2019-02-22 10:46] Jsimpki commented on #125
Still doing it in the current version of Kali

[2019-02-26 02:46] leebaird commented on #111
Spoke with Chris and have decided to remove.

[2019-02-26 02:46] #111 closed

[2019-03-01 09:07] L1ghtn1ng commented on #125
This is due to Kali having an old version, this will be fixed when we tag a new realse
________________________________
From: Jsimpki <notifications@github.com>
Sent: Friday, February 22, 2019 10:46:43 AM
To: laramies/theHarvester
Cc: Subscribed
Subject: Re: [laramies/theHarvester] No Result Issue (#125)

Still doing it in the current version of Kali

—
You are receiving this because you are subsc

[2019-03-01 11:20] BlueMan2903 opened #207 "Cannot run on Ubuntu 18.04.1 LTS"
Hi!
When i try to run theHarvester i get the error:
  File "theHarvester.py", line 86
    print(f'\033[94m[*] Target: {word} \n \033[0m')
                                                                         ^
(the arrow is pointing to the ' after 0m)
SyntaxError: invalid syntax

Why does this happen?

[2019-03-01 11:21] L1ghtn1ng commented on #207
Are you using python3.6?
________________________________
From: James Sonnino <notifications@github.com>
Sent: Friday, March 1, 2019 11:20:38 AM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] Cannot run on Ubuntu 18.04.1 LTS (#207)

Hi!
When i try to run theHarvester i get the error:
File "theHarvester.py", line 86
print(f'\033[94m[*] Target: {word} \n \033[0m')
^
Syntax

[2019-03-01 11:22] BlueMan2903 commented on #207
i have both installed.  I use the "python" command to run python 2.7 and "python3" to run python 3.6

[2019-03-01 11:26] L1ghtn1ng commented on #207
you will get that error under py2 as theHarvester does not work with python 2 only py3.6+ and make sure you have got up to date version from git
________________________________
From: James Sonnino <notifications@github.com>
Sent: Friday, March 1, 2019 11:22:31 AM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Cannot run on Ubuntu 18.04.1 LTS (#207)

i have

[2019-03-01 11:29] BlueMan2903 commented on #207
when i run it with python3.6 it cannod find the 'yaml' module

[2019-03-01 11:32] L1ghtn1ng commented on #207
pip3 install --user -r requirements.txt will fix your issue
________________________________
From: James Sonnino <notifications@github.com>
Sent: Friday, March 1, 2019 11:29:33 AM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Cannot run on Ubuntu 18.04.1 LTS (#207)

when i run it with python3.6 it cannod find the 'yaml' module

—
You are receiving this beca

[2019-03-01 12:22] BlueMan2903 commented on #207
so when i run "pip3 install --user -r requirements.txt" i get:

pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
Collecting beautifulsoup4>=4.7.1 (from -r requirements.txt (line 1))
  Could not fetch URL https://pypi.python.org/simple/beautifulsoup4/: There was a problem confirming the ssl certificate: Can't connect to HTTPS URL because the

[2019-03-01 12:36] L1ghtn1ng commented on #207
I would recommend that you use a virtualenv or our dockerfile and then you can update pip and have all the modules that are needed and then it will work
________________________________
From: James Sonnino <notifications@github.com>
Sent: Friday, March 1, 2019 12:22:06 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Cannot run on Ubuntu 18.04.1 LTS (#207)

[2019-03-01 13:49] BlueMan2903 commented on #207
Fixed by updating python 3.6 to 3.7.1
Apparently pip3 version 9.0 was the latest version for python 3.6, but on python 3.7.1 it can be updated up to pip3 19.0.3, which then allowed to download all the packages on requirements.txt and run theHarvester.py
Thanks!!

[2019-03-01 13:49] #207 closed

[2019-03-01 14:27] BlueMan2903 opened #208 "Error occured with Shodan"
When running theHarvester with Shodan I get:
[*] Searching Shodan.
	Searching for 13.79.239.33
[!] An error occurred with Shodan: [Errno 2] No such file or directory: 'api-keys.yaml'

[2019-03-01 14:30] L1ghtn1ng commented on #208
Can you give me the the output of sudo updatedb && locate api-keys.yaml please
________________________________
From: James Sonnino <notifications@github.com>
Sent: Friday, March 1, 2019 2:27:32 PM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] Error occured with Shodan (#208)

When running theHarvester with Shodan I get:
[*] Searching Shodan.
Searching for 13.79.239.33

[2019-03-01 14:32] BlueMan2903 commented on #208
/opt/theHarvester/trunk/api-keys.yaml

[2019-03-01 15:05] L1ghtn1ng commented on #208
Yeah I see the problem, try putting it in the root folder and not a sub folder
________________________________
From: James Sonnino <notifications@github.com>
Sent: Friday, March 1, 2019 2:32:38 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Error occured with Shodan (#208)

/opt/theHarvester/trunk/api-keys.yaml

—
You are receiving this because you comme

[2019-03-01 17:01] #208 closed

[2019-03-02 18:09] BlueMan2903 commented on #208
You talking about the whole "theHarvester" folder or only the yaml file?

[2019-03-03 01:17] L1ghtn1ng commented on #208
Just the yaml file but generally you just want to clone it as is from
github

On Sat, 2019-03-02 at 10:09 -0800, James Sonnino wrote:

[2019-03-04 17:40] patrickramsey opened #209 "Specifying multiple search engines is broke"
When more than one search engine is specified using commas an error is returned "Invalid search engine, Try with <list>"

[2019-03-04 23:53] NotoriousRebel commented on #209
How are you specifying it?

[2019-03-08 04:57] sq596 opened #211 "Google Search Error - lines 929, 446, 76, 32"
("Connection broken: ConnectionResetError(104, 'Connection reset by peer')", ConnectionResetError(104, 'Connection reset by peer'))
Traceback (most recent call last):
  File "./theHarvester.py", line 929, in <module>
    start()
  File "./theHarvester.py", line 446, in start
    search.process(google_dorking)
  File "/opt/theHarvester/discovery/googlesearch.py", line 76, in process
    self.do_sea

[2019-03-08 17:36] NotoriousRebel commented on #211
What version of the tool are you running? Google dorks is currently being worked on, as Google will start blocking requests as there are too many.  We are working on getting around and this and lowering the amount of requests google dorks makes

[2019-03-09 20:49] Artook10 opened #212 "Error in search"
Have this issue when I attempt a search. Am I missing something or not doing this right?

python theHarvester.py -d onlytourisim -l 50 -b google
  File "theHarvester.py", line 86
    print(f'\033[94m[*] Target: {word} \n \033[0m')

[2019-03-09 21:03] L1ghtn1ng commented on #212
Are you running python 3.6? If not then that is your problem as that is the minimum version to run it
________________________________
From: Artook10 <notifications@github.com>
Sent: Saturday, March 9, 2019 8:49:02 PM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] Error in search (#212)

Have this issue when I attempt a search. Am I missing something or not doing this ri

[2019-03-09 22:53] leebaird commented on #212
Is the domain a .com or .org?

[2019-03-10 17:56] leebaird commented on #184
Cleaned up.

[2019-03-10 17:56] #184 closed

[2019-03-10 18:00] leebaird commented on #212
Works fine.

python3 theHarvester.py -d onlytourism.com -l 50 -b google

[*] Target: onlytourism.com

[*] Searching Google.
	Searching 0 results.

[*] No IPs found.

[*] Emails found: 2
----------------------
info@onlytourism.com
mahmood@onlytourism.com

[*] Hosts found: 2
---------------------
dubaivisa.onlytourism.com:192.99.243.181
www.onlytourism.com:192.99.243.181

[2019-03-10 18:00] #212 closed

[2019-03-10 18:02] leebaird commented on #189
Works fine now.

python3 theHarvester.py -d yale.edu -l 50 -b dogpile

[*] Target: yale.edu

[*] Searching Dogpile.
	Searching 0 results.
	Searching 10 results.
	Searching 20 results.
	Searching 30 results.
	Searching 40 results.
	Searching 50 results.

[*] No IPs found.

[*] No emails found.

[*] Hosts found: 10
---------------------
admissions.yale.edu:104.16.141.133
law.yale.edu:23.185.0.3
news

[2019-03-10 18:02] #189 closed

[2019-03-11 03:30] NotoriousRebel commented on #209
@patrickramsey

[2019-03-12 10:17] Diabinhodo69 opened #217 "Dogpile 'Connection aborted.', RemoteDisconnected"
Hello,
I've been getting this error when doing **_python3 theHarvester.py -d xxxxxxxxxx.com -l 50 -b dogpile_** (or **_all_**)

[*] Searching Dogpile.
Error Occurred: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
	Searching 0 results.
Error Occurred: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
	Searchin

[2019-03-12 10:59] Diabinhodo69 opened #218 "Searching CRT.sh returns no results"
Hello,
Using theharvester for searching CRT.sh it doesn't return results, doing the same search manually at crt.sh, I have some results.

I am I doing anything wrong or is this a know issue?

Cheers

[2019-03-12 14:46] NotoriousRebel commented on #217
Try now, I just pushed a change to it, if dogpile still crashes for some reason when doing -b all it won't crash the whole program.

[2019-03-12 15:16] Diabinhodo69 commented on #217
@NotoriousRebel I'm sorry, please close this issue. I keep getting the same problem but I've done some troubleshooting and the problem seems to be in my firewall. I can't access www.dogpile.com from my network but from another one I have no issue. Once again, I'm sorry and thanks anyway.
Cheers.

[2019-03-12 17:28] #217 closed

[2019-03-12 17:34] leebaird commented on #218
The source works. Took about 3 minutes to complete.

python3 theHarvester.py -d yale.edu -l 50 -b crtsh

*******************************************************************
*  _   _                                            _             *
* | |_| |__   ___    /\  /\__ _ _ ____   _____  ___| |_ ___ _ __  *
* | __|  _ \ / _ \  / /_/ / _` | '__\ \ / / _ \/ __| __/ _ \ '__| *
* | |_| | | |  __/ / __

[2019-03-12 17:34] #218 closed

[2019-03-13 18:15] YashvirGit opened #220 "Unable to Install (Shodan Errors)"
Traceback (most recent call last):
  File "./theHarvester.py", line 3, in <module>
    from discovery import *
  File "/root/Desktop/theHarvester/discovery/shodansearch.py", line 3, in <module>
    from shodan import Shodan
ModuleNotFoundError: No module named 'shodan'

[2019-03-13 18:20] NotoriousRebel commented on #220
Did you do ```python3 -m pip install -r requirements.txt```?

[2019-03-13 18:24] YashvirGit commented on #220
I have Python 2.7 bro

[2019-03-13 18:25] L1ghtn1ng commented on #220
Yeah theHarvester only works with python3.6+ that will be your issue
________________________________
From: YashvirGit <notifications@github.com>
Sent: Wednesday, March 13, 2019 6:24:20 PM
To: laramies/theHarvester
Cc: Subscribed
Subject: Re: [laramies/theHarvester] Unable to Install (Shodan Errors) (#220)

I have Python 2.7 bro

—
You are receiving this because you are subscribed to this thread.

[2019-03-13 18:26] YashvirGit commented on #220
Alright thanks mate I'll update

[2019-03-13 19:49] YashvirGit opened #221 "ModuleNotFoundError: No module named 'yaml'"
Help me please i have the latest python 3.7.2 installed now got another yaml issue

![Screenshot from 2019-03-13 15-47-09](https://user-images.githubusercontent.com/48529728/54309917-a7b79180-45ea-11e9-8bdb-e937cc2be930.png)

[2019-03-13 19:51] L1ghtn1ng commented on #221
Do pip3 --user install -r requirements.txt and that will fix it
________________________________
From: YashvirGit <notifications@github.com>
Sent: Wednesday, March 13, 2019 7:49:44 PM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] ModuleNotFoundError: No module named 'yaml' (#221)

Help me please i have the latest python 3.7.2 installed now got another yaml issue

[Scree

[2019-03-13 20:53] YashvirGit commented on #221
Hello bro it wont says command not found
i already install pip3 using this command : sudo apt install python3-pip
then i did pip3 --version (version is 18,1)

Can you do it for me on Teamviewer please

![Screenshot from 2019-03-13 16-51-09](https://user-images.githubusercontent.com/48529728/54313810-7f806080-45f3-11e9-9d71-2be8f3638707.png)

[2019-03-13 22:34] NotoriousRebel commented on #221
Did you first do ```python3 -m pip install -r requirements.txt```?

[2019-03-13 22:42] L1ghtn1ng commented on #221
Sorry my bad you need to flip it the other way around but do doing the above will also work
________________________________
From: Matt <notifications@github.com>
Sent: Wednesday, March 13, 2019 10:34:34 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] ModuleNotFoundError: No module named 'yaml' (#221)

Did you first do python3 -m pip install -r requirement

[2019-03-13 23:38] #220 closed

[2019-03-14 02:09] YashvirGit commented on #221
@L1ghtn1ng here's what I did
git clone https://github.com/laramies/theHarvester.git
cd theHarvester
ls
pip3 install -r requirements.txt
python theHarvester.py

I still get the Yaml error module line 4 Import thing not found

![Screenshot from 2019-03-13 22-02-57](https://user-images.githubusercontent.com/48529728/54326368-a785b900-461f-11e9-94ca-e7f9ad218dc4.png)

[2019-03-14 02:10] YashvirGit commented on #221
root@kali:~/theHarvester# python3 -m pip install -r requirements.txt
/usr/local/bin/python3: No module named pip

[2019-03-14 02:17] YashvirGit opened #222 "Unable to Install on Debian 7"
I have the latest Python3.7.2 installed. I'm on Debian 7 64bit
Here's how I tried install
git clone https://github.com/laramies/theHarvester.git
cd theHarvester
ls
pip3 install -r requirements.txt
python3 theHarvester.py
Why it won't work
![Screenshot from 2019-03-13 22-13-05](https://user-images.githubusercontent.com/48529728/54326700-bae55400-4620-11e9-873c-b257d729d321.png)

[2019-03-14 03:12] YashvirGit commented on #221
root@kali:~/Desktop/theHarvester# chmod +x theHarvester.py
root@kali:~/Desktop/theHarvester# ls
api-keys.yaml  discovery   LICENSES   requirements.txt  wordlists
changelog.txt  Dockerfile  parsers    tests
COPYING        lib         README.md  theHarvester.py
root@kali:~/Desktop/theHarvester# ./theHarvester.py
Traceback (most recent call last):
  File "./theHarvester.py", line 7, in <module>
    f

[2019-03-14 03:13] YashvirGit commented on #222
root@kali:~/Desktop/theHarvester# ./theHarvester.py
Traceback (most recent call last):
  File "./theHarvester.py", line 7, in <module>
    from lib import reportgraph
  File "/root/Desktop/theHarvester/lib/reportgraph.py", line 2, in <module>
    from lib import stash
  File "/root/Desktop/theHarvester/lib/stash.py", line 2, in <module>
    import sqlite3
  File "/usr/local/lib/python3.6/sqlite3/_

[2019-03-14 04:20] NotoriousRebel commented on #222
If you are using python3.4+ pip should already be on it; however, you could try ```sudo apt-get install python3-pip``` and then do ```sudo pip3 install -r requirements.txt```

[2019-03-14 05:50] YashvirGit commented on #222
Yo bro i already installed the requirements and everything was Done Done Done Done
but yet i got the same Yaml Error
i tried on Windows 10 also same Yaml Error Module

C:\Python37\theHarvester>theHarvester.py
Traceback (most recent call last):
  File "C:\Python37\theHarvester\theHarvester.py", line 3, in <module>
    from discovery import *
  File "C:\Python37\theHarvester\discovery\baidusearch.py

[2019-03-14 16:10] NotoriousRebel commented on #222
Show me the error message you get when trying to do ```sudo python3 -m pip install -r requirements.txt``` on kali.

[2019-03-17 00:24] wowficcion commented on #61
I have the same issue, testing with my own site, and 0 results

[2019-03-17 00:26] NotoriousRebel commented on #61
@wowficcion you should open up a new issue rather than comment on one that is two years old.

[2019-03-17 12:54] GuNanHai commented on #56
@kdlsw Someone like me will need this post ,a big help

[2019-03-17 21:09] wowficcion opened #224 "Return 0 results"
After some email harvests on multiple sites.

theHarvester giving 0 results.

Too, Im testing againts my own Host Web, where i have emails, and return 0 results too.

[2019-03-18 03:02] NotoriousRebel commented on #224
Hmmm, this could be attributed to numerous problems. You have to remember this tool does passive scanning, not active scanning, using open source information. Did it return 0 results if you did -b all with securityTrails and hunter api keys?

[2019-03-18 21:47] mrajweir commented on #224
I have downloaded a copy of the repo and I'm experiencing the same output.
I cloned the repo, and then simply ran, 'theHarvester.py -d google.com' just to get _some_ output, but theHarvester tells me there are no results to be found.

Would this have something to do with the build failing lately?

[2019-03-18 21:58] L1ghtn1ng commented on #224
No, you need to then have a -b all for example and you should get results
________________________________
From: Andrew Weir <notifications@github.com>
Sent: Monday, March 18, 2019 9:47:49 PM
To: laramies/theHarvester
Cc: Subscribed
Subject: Re: [laramies/theHarvester] Return 0 results (#224)

I have downloaded a copy of the repo and I'm experiencing the same output.
I cloned the repo, and then si

[2019-03-19 23:23] wowficcion commented on #224
I tested it on Kali linux and work, on Ubuntu 16 dont work for me

[2019-03-19 23:23] #224 closed

[2019-03-20 00:29] leebaird commented on #52
Please review the new setup.py file that was added. Would like to close out this ticket.

[2019-03-20 02:06] blshkv commented on #52
Tested and failed. Have you  tested at all?
The current setup.py doesn't install  ```wordlists``` folder and ```theHarvester.py```.
I copied the binary into /usr/bin manually but the tool failed to start:
[code]

You need to convert paths etc. Still  longs way to go

[2019-03-20 02:14] blshkv commented on #52
Regarding the wordlists, please use the following example:
https://github.com/derv82/wifite2/issues/102
They used ```data_files``` function for this purpose

[2019-03-21 02:52] CuriosoCat opened #227 "Attempt to write a readonly database"
I've been trying to use theHarvester and when i performed a search, it comes up with
the error indicating `"attempt to write a readonly database"` as seen below:

![image](https://user-images.githubusercontent.com/46101882/54731037-0d95b180-4bc7-11e9-9773-383a1984a118.png)

It seems to be a SQL error. Does anyone understand why is this happening? What database is it trying to write to? This only h

[2019-03-21 11:12] L1ghtn1ng commented on #227
It will be trying to write to the stash.db in the root directory of theHarvester directory. If you are running it from GitHub clone the delete the file and redo your search and to my knowledge it should redo the db and fingers crossed it works for you
________________________________
From: CuriosoCat <notifications@github.com>
Sent: Thursday, March 21, 2019 2:52:10 AM
To: laramies/theHarvester
Cc:

[2019-03-23 19:45] NotoriousRebel commented on #52
@blshkv please try now I tested it after the most recent commit and it seems to be working :)

[2019-03-23 22:40] leebaird commented on #188
Fixed

[2019-03-23 22:40] #188 closed

[2019-03-24 00:39] blshkv commented on #52
worldlist files are installed into an unusual location: ```/usr/worldlist``` now, all other issues are not fixed

[2019-03-24 00:45] blshkv commented on #52
FYI, you can debug it with the following command:
```python3 setup.py install --user```

[2019-03-24 08:10] blshkv commented on #52
https://github.com/laramies/theHarvester/pulls
I have started to redesign the tool here, let's see if you agree with it.

[2019-03-26 08:35] blshkv commented on #52
https://github.com/vulnersCom/getsploit/pull/14/files

[2019-03-30 19:00] L1ghtn1ng commented on #227
Timeout, if issue still persists can reopen

[2019-03-30 19:00] #227 closed

[2019-03-30 19:01] L1ghtn1ng commented on #222
Timeout

[2019-03-30 19:01] #222 closed

[2019-03-31 00:18] eudomoniacc opened #231 "How to add apikeys to Kali linux version"
How can i add the api keys manually to Kali linux version without command prompt each time?

[2019-04-04 01:04] pkq2019 opened #232 "tha paramater "-d""
if I input a company name after "-d",   what are the output's emails belong to ?
For example,    if i input "-d  Microsoft "   , the output emails is belong to the Microsoft or just the registered account on Microsoft.com servers?

[2019-04-04 15:11] ssolidus commented on #232
`-d` is for domain, not company. You need to put `-d microsoft.com` if you wanted those emails.

[2019-04-04 18:09] sonofapharmacist commented on #231
check the api-keys.yaml in the root.  it has an example in there (that might be a valid shodan key... but not sure)

[2019-04-04 18:23] fbarriosCL opened #233 "When exporting how can I get all the results for example trello, linkedin?"
Hello, when I try to perform the following command
```python theHarvester.py -d url -b all -s -f file```,
in the console get results from **linkedin** or **trello**, but they do not appear in my XML export.

help me ?

[2019-04-05 21:43] NotoriousRebel commented on #233
Looking into the xml file now, does it appear in the html report?

[2019-04-10 01:10] ssolidus opened #235 "Managing the user's API key and stash.sqlite file properly"
This file is currently imported from directory that `theHarvester.py` is run in. As a module, it sould store it in the following locations, using the [`appdirs`](https://github.com/ActiveState/appdirs) Python module:
- `~/Library/Application Support/theHarvester`
- `~/.local/share/theHarvester`
- `C:\Documents and Settings\<User>\Application Data\laramies\theHarvester`

I am happy to make a merge

[2019-04-10 18:10] NotoriousRebel commented on #235
You are more than welcome to make a PR for this issue :)

[2019-04-10 21:12] NotoriousRebel commented on #52
@blshkv if you are satifised with the changes that have happened feel free to close :)

[2019-04-11 02:10] blshkv commented on #52
@NotoriousRebel thank you for accepting the patch. That would be the first stage, I can install the tool as a system package now (using root account). The second stage is to redirect all output to a userdir, something like ~/.theHarvester so a regular user would be able to run it without touching system files

[2019-04-14 04:00] #232 closed

[2019-04-15 20:23] Compl3xion opened #236 "starting harvester"
Here is what happens when i type theharvester
[code]
i've never encountered this problem before when using it, but now i get this.
OS details
windows 7
using with pentestbox

 Update:I reinstalled pentestbox, but with metasploit this time

it seems to work now. which is weird due to the fact that i've

reinstalled it aboout 20 times. but yeah it works. I've uninstalled

everythng related to pentes

[2019-04-15 20:24] Compl3xion commented on #236
i also re installed everything but i still get this.

[2019-04-16 18:27] NotoriousRebel commented on #236
Are you using python3?

[2019-04-16 20:01] Compl3xion commented on #236
Seems like its pentestbox then. I just checked, and its using python 2.7.11. i most likely have to get 3.6 then. darn pentestbox :/ theharvester was working recently though, and i had just finished updating all my tools so i thought something was wrong.  Thank you for your help.
 ~Compl3xion

[2019-04-16 23:20] ssolidus commented on #236
@Compl3xion have you tried `python3 theHarvester.py`?

[2019-04-17 17:11] Compl3xion commented on #236
yes i then receive the following in pertest box
![Capture](https://user-images.githubusercontent.com/47437082/56307215-2f685280-60f9-11e9-8bd0-84ab38fcd264.PNG)

[2019-04-18 05:38] ssolidus commented on #236
You need to run it as 1 command, not inside the python shell.

I'd recommend you learn a bit more about how scripts and filesystems work before you proceed

[2019-04-18 18:14] Compl3xion commented on #236
Sir i already ran it without the python shell. and still receive the same error. any other suggestions than that :/

[2019-04-18 18:34] L1ghtn1ng commented on #236
Can you please provide a screenshot of what you are doing and what OS
you are using please?

On Thu, 2019-04-18 at 11:14 -0700, Compl3xion wrote:

[2019-04-18 19:04] Compl3xion commented on #236
i fixed it

On Thu, 18 Apr 2019 at 11:34, J.Townsend <notifications@github.com> wrote:

[2019-04-19 13:41] ssolidus commented on #236
His original problem is that he was running  Python 2.7.

His new problem was that he was running it like this
[code]

[2019-04-19 16:32] L1ghtn1ng commented on #236
As this is now fixed closing

[2019-04-19 16:32] #236 closed

[2019-04-19 16:47] L1ghtn1ng commented on #211
Closing as lots of changes has been done

[2019-04-19 16:47] #211 closed

[2019-04-19 16:54] L1ghtn1ng commented on #209
Closing this due to no response for over a month

[2019-04-19 16:54] #209 closed

[2019-04-19 17:09] L1ghtn1ng commented on #231
@eudomoniacc what @sonofapharmacist is correct

[2019-04-19 17:09] #231 closed

[2019-04-19 21:41] L1ghtn1ng commented on #233
@NotoriousRebel Did you find any issues with this?

[2019-04-20 00:27] NotoriousRebel commented on #233
@fbarriosCL could you answer my question? Also,  @L1ghtn1ng I didn't try with xml I tried with html and it worked.

[2019-04-20 00:39] L1ghtn1ng commented on #233
@NotoriousRebel Do you think it might be worth getting rid of the xml and having html only?

[2019-04-20 03:01] fbarriosCL commented on #233
@NotoriousRebel In my case, it does not work for me in XML and HTML export, sorry for the delay.

[2019-04-20 03:02] L1ghtn1ng commented on #233
What version are you using and on what OS?
________________________________
From: Felipe Barrios <notifications@github.com>
Sent: Saturday, April 20, 2019 4:01:55 AM
To: laramies/theHarvester
Cc: J.Townsend; Mention
Subject: Re: [laramies/theHarvester] When exporting how can I get all the results for example trello, linkedin? (#233)

@NotoriousRebel<https://github.com/NotoriousRebel> In my case, i

[2019-04-20 03:07] fbarriosCL commented on #233
Ubuntu 18.04.2 LTS and Python 3.7.3.

[2019-04-20 03:09] L1ghtn1ng commented on #233
What version of theHarvester are you running?
________________________________
From: Felipe Barrios <notifications@github.com>
Sent: Saturday, April 20, 2019 4:07:29 AM
To: laramies/theHarvester
Cc: J.Townsend; Mention
Subject: Re: [laramies/theHarvester] When exporting how can I get all the results for example trello, linkedin? (#233)

Ubuntu 18.04.2 LTS and Python 3.7.3.

—
You are receiving thi

[2019-04-20 03:13] fbarriosCL commented on #233
version: theHarvester 3.1.0.dev0 and the command that I'm executing is

[code]

[2019-04-20 03:46] L1ghtn1ng commented on #233
You running in a virtualenv? If not try doing that as on Ubuntu just using the python command uses py2 not py3
________________________________
From: Felipe Barrios <notifications@github.com>
Sent: Saturday, April 20, 2019 4:13:14 AM
To: laramies/theHarvester
Cc: J.Townsend; Mention
Subject: Re: [laramies/theHarvester] When exporting how can I get all the results for example trello, linkedin? (#23

[2019-04-26 12:44] cov3rteam opened #241 "I GOT NOT FOUND"
~/theHarvester   master  python3 theHarvester.py --domain qq

*******************************************************************
*  _   _                                            _             *
* | |_| |__   ___    /\  /\__ _ _ ____   _____  ___| |_ ___ _ __  *
* | __|  _ \ / _ \  / /_/ / _` | '__\ \ / / _ \/ __| __/ _ \ '__| *
* | |_| | | |  __/ / __  / (_| | |   \ V /  __/\__ \ ||  __/ |

[2019-04-26 22:56] NotoriousRebel commented on #241
You did not specifiy the search engine with the -b flag, try that.

[2019-04-28 08:09] cov3rteam commented on #241
why aren't all the domains known?

[2019-04-28 08:22] cov3rteam opened #242 "how add key xxxx on termux please"

[2019-04-28 21:10] NotoriousRebel commented on #241
Do,  ```python3 theHarvester.py -h```

[2019-04-30 12:30] cov3rteam commented on #241
im use it but 90%found domain

[2019-05-03 12:55] darxboy commented on #208
I ve got this error while i wanna compile the program, can you give me the solution

Traceback (most recent call last):
  File "theHarvester.py", line 5, in <module>
    from theHarvester import __main__
  File "/home/dido/widev/theHarvester/theHarvester/__main__.py", line 96
    print(f'\033[94m[*] Target: {word} \n \033[0m')
                                                 ^

[2019-05-03 12:57] L1ghtn1ng commented on #208
You need to make sure you are using py3.6 or higher
________________________________
From: androgorgon <notifications@github.com>
Sent: Friday, May 3, 2019 1:55:55 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Error occured with Shodan (#208)

I ve got this error while i wanna compile the program, can you give me the solution

Traceback (most recent call

[2019-05-03 12:58] L1ghtn1ng commented on #208
Also how are you compling?
________________________________
From: androgorgon <notifications@github.com>
Sent: Friday, May 3, 2019 1:55:55 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Error occured with Shodan (#208)

I ve got this error while i wanna compile the program, can you give me the solution

Traceback (most recent call last):
File "theHarveste

[2019-05-03 12:59] darxboy commented on #208
i compile like that
-----Lenovo-G470:/home/dido/widev/theHarvester# ./theHarvester.py
Traceback (most recent call last):
  File "./theHarvester.py", line 5, in <module>
    from theHarvester import __main__
  File "/home/dido/widev/theHarvester/theHarvester/__main__.py", line 96
    print(f'\033[94m[*] Target: {word} \n \033[0m')

[2019-05-03 13:41] L1ghtn1ng commented on #241
you need to use it as follows ython3 theHarvester.py -d qq -b all

[2019-05-03 13:41] #241 closed

[2019-05-03 13:42] L1ghtn1ng commented on #233
Timeout

[2019-05-03 13:42] #233 closed

[2019-05-03 13:43] L1ghtn1ng commented on #242
You add api keys in the to this file https://github.com/laramies/theHarvester/blob/master/api-keys.yaml

[2019-05-03 13:43] #242 closed

[2019-05-05 17:07] Dhayllin opened #243 "Traceback (most recent call last): SyntaxError: invalid syntax ( Debian 9 "Stretch" -> theHarveste )"
pentest/theHarvester$ python2 theHarvester.py
pentest/theHarvester$ python2 theHarvester.py
pentest/theHarvester$ python3 theHarvester.py
#######################################
Traceback (most recent call last):
  File "theHarvester.py", line 5, in <module>
    from theHarvester import __main__
  File "/home/user/pentest/theHarvester/theHarvester/__main__.py", line 96
    print(f'\033[94m[*] Targ

[2019-05-05 18:27] NotoriousRebel commented on #243
What version of python3 are you using? It needs to be python3.6+.

[2019-05-06 04:37] Dhayllin commented on #243
Yes👍

[2019-05-06 20:22] NotoriousRebel commented on #243
Could you provide a screenshot of when you type python3 what version pops up?

[2019-05-06 21:44] Dhayllin commented on #243
python3
==================================
Python 3.5.3 (default, Sep 27 2018, 17:25:39)
[GCC 6.3.0 20170516] on linux
Type "help", "copyright", "credits" or "license" for more information.

[2019-05-06 21:46] L1ghtn1ng commented on #243
That is your problem you need version 3.6+ of python

On Mon, 2019-05-06 at 14:44 -0700, Dhayllin Jesus wrote:

[2019-05-06 21:49] L1ghtn1ng commented on #243
Debian 9 will not work as there is no way out of the box to have that
version of python, just checked my debian 9 system

On Mon, 2019-05-06 at 14:44 -0700, Dhayllin Jesus wrote:

[2019-05-06 21:50] L1ghtn1ng commented on #243
@Dhayllin Download python from this link https://www.python.org/ftp/python/3.7.3/Python-3.7.3.tar.xz and follow this guide https://idroot.us/install-python-3-7-debian-9-stretch/ hopefully that will solve your issue

[2019-05-06 21:50] #243 closed

[2019-05-06 22:14] Dhayllin commented on #243
thanks!

[2019-05-06 22:15] L1ghtn1ng commented on #243
The other option would be to convert your system to debain testing should you want to do that
________________________________
From: Dhayllin Jesus <notifications@github.com>
Sent: Monday, May 6, 2019 11:14:09 PM
To: laramies/theHarvester
Cc: J.Townsend; State change
Subject: Re: [laramies/theHarvester] Traceback (most recent call last): SyntaxError: invalid syntax ( Debian 9 "Stretch" -> theHarve

[2019-05-08 14:46] whoot opened #244 "Twitter output still doesnt work correctly"
Hey,

the twitter output problem (see #89 and #184 ) is still not fixed!
Getting still the following false positive output:
[code]

[2019-05-11 12:13] n3mpie opened #245 "ModuleNotFoundError: No module named '_sqlite3'"
[code]

[2019-05-12 21:48] BaRRaKudaRain commented on #245
pip install %modulename%
OR
pip3 install %modulename%

Where %modulename% is your needed module. Search for it.
--
---------------------------
An outsider, the BaRRaKudaRain

-----Original Message-----
From: "n3mpie" <notifications@github.com>
Sent: ‎5/‎11/‎2019 3:14 PM
To: "laramies/theHarvester" <theHarvester@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Subject: [laramies

[2019-05-13 17:23] n3mpie commented on #245
Thank you for your reply.

[code]

[2019-05-13 18:03] L1ghtn1ng commented on #245
Also that would be the wrong pip if you are not using a virtualenv, I recommend using a virtualenv and then install everything via that and then run it. But this sounds like a Kali packaging bug as this does not happen with the one from git
________________________________
From: n3mpie <notifications@github.com>
Sent: Monday, May 13, 2019 6:23:41 PM
To: laramies/theHarvester
Cc: Subscribed
Subject

[2019-05-13 19:15] Solinus11 opened #246 "No html or xml output"
Using version 3.0.6
running on latest update of Kali Linux
cmd used:  ./theHarvester.py -d [domain] -b all -l 100 -f results.html

Creates no html or xml file

[2019-05-13 19:16] Solinus11 commented on #246
just saw I am not running latest version. Will update and try again

[2019-05-13 19:16] #246 closed

[2019-05-15 19:39] n3mpie commented on #245
Thank you for your reply.
I installed on virtual environment, then update and upgrade all the system. Finally run theharvester, there is no error and it's working very well. As you said it seems like a Kali packaging bug but it's not seen on virtual environment.

[2019-05-16 07:48] uhlhosting opened #247 "Errors from brew package"
I have deployed it under osx with brew and I receive:

[code]

For every project:

[2019-05-16 08:30] uhlhosting commented on #247
The fun part is that I can run it as root, not as user...

[2019-05-16 08:38] nikosch86 opened #248 "error creating the report when using the docker container"
I receive an error creating the report when using the docker container.
Funny enough, if I enter the container and run manually it fails the first time and works the second time.
The error message:
`module 'theHarvester.lib.reportgraph' has no attribute 'GraphGenerator'`

the command I am using is `theHarvester.py -d target.com -e 8.8.8.8 -b all -s -f filename`

[2019-05-17 10:02] jzold commented on #244
Hi,

I'll provide a fix for this one shortly

J./

[2019-05-17 10:09] jzold commented on #244
using regex now it filters the following usernames:

[*] Users found: 8
---------------------
@WesleydeSouza
@broofa
@font
@fuckHMSLF
@jonosmoove
@karlwho3
@keyframes
@media

J./

[2019-05-17 18:15] broofa commented on #244
@jzold FYI, this sent notifications to all the `@{username}`'s you mentioned.  If you put that output in a code block, it'll avoid annoying people.  Thanks.

[2019-05-19 17:27] L1ghtn1ng commented on #244
@broofa I have merged in the fix, can you try again please?

[2019-05-19 17:33] L1ghtn1ng commented on #248
@NotoriousRebel Can you have a look at this or I can if you cannot once I have setup a docker env

[2019-05-20 06:45] nikosch86 commented on #248
I played around with the import command for reportgraph (changing it to `import .lib.reportgraph` and different variations) and  I get the feeling that this is somehow timing related as I get inconsistent results as to when it works and when it doesn't.
for now I have removed the lines around __main.py__:880-882 so I can use the tool.

btw, this is on master

[2019-05-20 16:46] NotoriousRebel commented on #248
@L1ghtn1ng  I will take a look when I get a chance.

[2019-05-20 20:29] broofa commented on #244
@L1ghtn1ng I think you meant to direct that at @jzold.

*/me tries yet again to unsubscribe from this issue. ;-)*

[2019-05-20 20:31] L1ghtn1ng commented on #244
Whoops my bad was meant to send that to whoot
________________________________
From: Robert Kieffer <notifications@github.com>
Sent: Monday, May 20, 2019 9:29:07 PM
To: laramies/theHarvester
Cc: J.Townsend; Mention
Subject: Re: [laramies/theHarvester] Twitter output still doesnt work correctly (#244)

@L1ghtn1ng<https://github.com/L1ghtn1ng> I think you meant to direct that at @jzold<https://githu

[2019-05-28 15:57] lucasvanjos opened #250 "Issue..."
$ python2 theHarvester.py

Traceback (most recent call last):
  File "theHarvester.py", line 5, in <module>
    from theHarvester import __main__
  File "/data/data/com.termux/files/home/theHarvester/theHarvester/__main__.py", line 96
    print(f'\033[94m[*] Target: {word} \n \033[0m')
                                                 ^
SyntaxError: invalid syntax

[2019-05-30 02:39] L1ghtn1ng commented on #250
You need to use python3.6+
________________________________
From: lucasvanjos <notifications@github.com>
Sent: Tuesday, May 28, 2019 4:57:12 PM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] Issue... (#250)

$ python2 theHarvester.py

Traceback (most recent call last):
File "theHarvester.py", line 5, in
from theHarvester import main
File "/data/data/com.termux/files/home

[2019-05-30 23:49] #250 closed

[2019-05-31 16:44] lucasvanjos commented on #250
i'm using python 3.6

[2019-05-31 17:33] L1ghtn1ng commented on #250
No you are not which is stated by you having the command python2 at the beginning in your output, you need to have it python3 instead

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: lucasvanjos <notifications@github.com>
Sent: Friday, May 31, 2019 5:44:41 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Issue... (#250

[2019-06-06 15:30] FabioJorgeJesus commented on #222
Hello to everyone.
after clone theharvester ion my Kali Linux, it show me the message below:
Traceback (most recent call last):
  File "./theHarvester.py", line 5, in <module>
    from theHarvester import __main__
  File "/root/theHarvester/theHarvester/__main__.py", line 3, in <module>
    from theHarvester.discovery import *
  File "/root/theHarvester/theHarvester/discovery/baidusearch.py", line

[2019-06-06 15:36] L1ghtn1ng commented on #222
you need to either do apt install python3-pyyaml or pip3 install -r requirements.txt

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: FabioJorgeJesus <notifications@github.com>
Sent: Thursday, June 6, 2019 4:30:43 PM
To: laramies/theHarvester
Cc: J.Townsend; State change
Subject: Re: [laramies/theHarvester] Unable to Install on Debian 7 (#222)

Hello to every

[2019-06-10 13:10] Pikramag opened #253 "theHarvester.py: error: the following arguments are required: -d/--domain"
I started theHarvester.py and i see this error.
Can you give me command to fix this?

[2019-06-10 16:23] NotoriousRebel commented on #253
How did you run it? If you ever confused you can do -h and it will display examples of how to use the tool. You must include -d/--domain as that is the domain to search for information about.

[2019-06-11 01:59] monkeysuffrage commented on #253
I'm getting this too when I do:
python3 theHarvester.py –d Microsoft.com
or
./theHarvester.py –d Microsoft.com
on Windows 10 (cygwin)

[2019-06-11 02:20] NotoriousRebel commented on #253
@monkeysuffrage You did not specify a search engine.

[2019-06-11 02:45] monkeysuffrage commented on #253
Yes but that's not the issue here.

On Mon, Jun 10, 2019 at 10:20 PM Matt <notifications@github.com> wrote:

[2019-06-11 02:51] NotoriousRebel commented on #253
When you run it what is the output?

[2019-06-11 03:04] monkeysuffrage commented on #253
It says:
*******************************************************************
*  _   _                                            _             *
* | |_| |__   ___    /\  /\__ _ _ ____   _____  ___| |_ ___ _ __  *
* | __|  _ \ / _ \  / /_/ / _` | '__\ \ / / _ \/ __| __/ _ \ '__| *
* | |_| | | |  __/ / __  / (_| | |   \ V /  __/\__ \ ||  __/ |    *
*  \__|_| |_|\___| \/ /_/ \__,_|_|    \_/ \___||___

[2019-06-11 04:47] devocc17 opened #254 "file error"
got an error on line 94. the line reads print(f'\033[94m[*] Target: {word} \n \033[0m') with a syntaxerror.

[2019-06-11 09:56] L1ghtn1ng commented on #254
Hi what version of python are you using?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Devin Carpenter <notifications@github.com>
Sent: Tuesday, June 11, 2019 5:47:53 AM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] file error (#254)

got an error on line 94. the line reads print(f'\033[94m[*] Target: {word} \n \033[0m') with a

[2019-06-11 09:58] L1ghtn1ng commented on #253
As the error states you need to specify the -d example.com and then you will be able to run it but that is a required parameter

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: monkeysuffrage <notifications@github.com>
Sent: Tuesday, June 11, 2019 4:04:44 AM
To: laramies/theHarvester
Cc: Subscribed
Subject: Re: [laramies/theHarvester] theHarvester.py: error:

[2019-06-11 13:43] devocc17 commented on #254
python, python 2, and python 3. python and python 2 give the same syntaxerror and python 3 is giving a modulenotfounderror:

[2019-06-11 13:49] L1ghtn1ng commented on #254
theHarvester needs python3.6+ and if your do a pip3 install -r requirements.txt that will fix it for you

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Devin Carpenter <notifications@github.com>
Sent: Tuesday, June 11, 2019 2:43:54 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] file error (#254)

python, python 2,

[2019-06-11 13:52] devocc17 commented on #254
I have done that but it was giving me a pip3 command not found

[2019-06-11 13:59] L1ghtn1ng commented on #254
If you are on a debain system apt install python3-pip
________________________________
From: Devin Carpenter <notifications@github.com>
Sent: Tuesday, June 11, 2019 2:52:56 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] file error (#254)

I have done that but it was giving me a pip3 command not found

—
You are receiving this because you commented.
Reply

[2019-06-11 14:00] devocc17 commented on #254
using kali wsl

[2019-06-11 14:03] L1ghtn1ng commented on #254
This will need to be investigated
________________________________
From: Devin Carpenter <notifications@github.com>
Sent: Tuesday, June 11, 2019 3:00:57 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] file error (#254)

using kali wsl

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/laramie

[2019-06-11 14:04] devocc17 commented on #254
I got it to work for the pip install and its installing the requirements.txt

[2019-06-11 14:13] L1ghtn1ng commented on #254
Ah okay nice, well done 👍

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Devin Carpenter <notifications@github.com>
Sent: Tuesday, June 11, 2019 3:05:00 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] file error (#254)

I got it to work for the pip install and its installing the requirements.txt

—
You are receiving

[2019-06-11 15:39] Pikramag commented on #253
How to specify?
Like: python3 theHarvester.py example.com?
Im freaking noob(((

[2019-06-11 17:44] L1ghtn1ng commented on #253
python3 theHarvester.py -d example.com -b all

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Pikramag <notifications@github.com>
Sent: Tuesday, June 11, 2019 4:39:08 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] theHarvester.py: error: the following arguments are required: -d/--domain (#253)

How to specify?
Like:

[2019-06-12 01:43] monkeysuffrage commented on #253
Yes, this is when using the -d parameter.
This seems to be an issue with argparse so probably nothing will come of this here.

[2019-06-13 10:19] jzold commented on #134
cymon is discontinued from April and not available.

[2019-06-13 10:19] #134 closed

[2019-06-13 10:36] L1ghtn1ng commented on #134
Yeah I just tried going to the site and does not load at all, that is a shame

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jzold <notifications@github.com>
Sent: Thursday, June 13, 2019 11:20:00 AM
To: laramies/theHarvester
Cc: J.Townsend; Author
Subject: Re: [laramies/theHarvester] Cymon.io v2 API (#134)

cymon is discontinued from April and not availabl

[2019-06-14 08:04] whoot commented on #244
The first time I used it, I was still getting the following output:

[code]

After that, it worked one more time (same results) and then I always get no results:
[code]

Maybe google is restricting requests?

[2019-06-14 16:51] jzold commented on #244
@whoot yes google doesn't like bot-like searches run against it. This module really needs a bit of thinking and approach sprinkled with twitter API integration. One temp. circumvention is to use a proxy service but that will only get you 1/2 search queries at most...the fix I've added strips out potential CSS related items

J./

[2019-06-15 17:28] noraj opened #255 "Inventory notification"
Your tool/software has been inventoried on [*Rawsec's CyberSecurity Inventory*](https://inventory.rawsec.ml/).

https://inventory.rawsec.ml/tools.html#theHarvester

### What is Rawsec's CyberSecurity Inventory?

An inventory of tools and resources about CyberSecurity. This inventory aims to help people to find everything related to CyberSecurity.

+ **Open source**: Every information is available

[2019-06-16 16:12] stamperj1 opened #256 "Unbound Local Error"
When running the command: **theharvester -b all -d somedomain.com**
I get the following output:

**found supported engines
Traceback (most recent call last):
  File "/usr/bin/theharvester", line 813, in <module>
    start(sys.argv[1:])
  File "/usr/bin/theharvester", line 145, in start
    print(("[-] Starting harvesting process for domain: " + word + "\n"))
UnboundLocalError: local variable 'word

[2019-06-16 18:41] L1ghtn1ng commented on #256
Swap the -b -d params around and does that fix your issue?

[2019-06-16 18:42] #254 closed

[2019-06-16 18:43] L1ghtn1ng commented on #253
Timeout

[2019-06-16 18:43] #253 closed

[2019-06-16 18:46] L1ghtn1ng commented on #247
@uhlhosting Would be worth mentioning this to the brew package maintainer as this is nothing to do with us.
If they want to submit a PR to help get support for brew in order that would be great as long as it does not break anything

[2019-06-16 18:49] L1ghtn1ng commented on #235
@ssolidus Any progress on this?

[2019-06-16 18:51] reconngg commented on #256
yes, for a matter of fact it did work after that....hmmmm
anyways thanks!

[2019-06-16 18:54] L1ghtn1ng commented on #256
No problem, thought that was the issue and that should be a thing of the past now with using argparse that is in git, we need to do a release to get it into kali

[2019-06-16 18:54] #256 closed

[2019-06-16 18:59] L1ghtn1ng commented on #52
@blshkv Would you agree that this issue could be closed now? As I think we now for fill the subject of this thread and open a new thread to do with the other bits and pieces that you have mentioned.

[2019-06-16 21:34] blshkv commented on #52
Ok, sure. Thanks for accepting my patch once again

[2019-06-16 21:34] #52 closed

[2019-06-26 17:09] vincenzogianfelice opened #259 "Error in start script"
[code]

[2019-06-27 01:17] L1ghtn1ng commented on #259
Hi you need to be running python3.6+

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Vincenzo Gianfelice <notifications@github.com>
Sent: Wednesday, June 26, 2019 6:10:01 PM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] Error in start script (#259)

Traceback (most recent call last): File "theHarvester.py", line 5, in <module> fro

[2019-06-27 08:53] d6626410 opened #260 "Error"
Warning: Pycurl is not compiled against Openssl. Wfuzz might not work correctly when fuzzing SSL sites. Check Wfuzz's documentation for more information.

[2019-06-27 19:46] NotoriousRebel commented on #260
The tool should still work, have you tried it?

[2019-07-04 00:44] B0lltz opened #262 "Error at startup"
Traceback (most recent call last):
  File "./theHarvester.py", line 5, in <module>
    from theHarvester import __main__
  File "/home/b0ltz/theHarvester/theHarvester/__main__.py", line 3, in <module>
    from theHarvester.discovery import *
  File "/home/b0ltz/theHarvester/theHarvester/discovery/shodansearch.py", line 3, in <module>
    from shodan import exception
ModuleNotFoundError: No module

[2019-07-04 07:09] L1ghtn1ng commented on #262
Run pip3 install -r requirements.txt and that will fix your issue

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: B0lltz <notifications@github.com>
Sent: Thursday, July 4, 2019 1:44:34 AM
To: laramies/theHarvester
Cc: Subscribed
Subject: [laramies/theHarvester] Error at startup (#262)

Traceback (most recent call last):
File "./theHarvester.py", line 5, in
f

[2019-07-04 11:02] B0lltz commented on #262
New error:

Collecting beautifulsoup4>=4.7.1 (from -r requirements.txt (line 1))
  Using cached https://files.pythonhosted.org/packages/1d/5d/3260694a59df0ec52f8b4883f5d23b130bc237602a1411fa670eae12351e/beautifulsoup4-4.7.1-py3-none-any.whl
Collecting censys==0.0.8 (from -r requirements.txt (line 2))
  Using cached https://files.pythonhosted.org/packages/88/4b/3ca07679928c26bb5503b53c37e2f6eef2521

[2019-07-04 11:51] L1ghtn1ng commented on #262
If you are on a Debian system do apt install python3-setuptools and then rerun pip3

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: B0lltz <notifications@github.com>
Sent: Thursday, July 4, 2019 12:02:48 PM
To: laramies/theHarvester
Cc: J.Townsend; Comment
Subject: Re: [laramies/theHarvester] Error at startup (#262)

New error:

Collecting beautifulsoup4>=4.

[2019-07-04 12:21] B0lltz commented on #262
Right after this command: pip3 install -r requirements.txt
appeared this:

Collecting beautifulsoup4>=4.7.1 (from -r requirements.txt (line 1))
  Using cached https://files.pythonhosted.org/packages/1d/5d/3260694a59df0ec52f8b4883f5d23b130bc237602a1411fa670eae12351e/beautifulsoup4-4.7.1-py3-none-any.whl
Collecting censys==0.0.8 (from -r requirements.txt (line 2))
  Using cached https://files.python

[2019-07-06 13:20] Sthomssec opened #263 "Unable to run scanning with using TheHarvester."
Hello Team, @laramies

I'm getting an old know issue with TheHarvester tool, but more than that, seems to be related to Wfuzz. Error message = "Warning: Pycurl is not compiled against Openssl. Wfuzz might not work correctly when fuzzing SSL sites. Check Wfuzz's documentation for more information."

I have Openssl and pycurl install with libcurl4 installed. i've been looking for solutions but no re

[2019-07-06 20:17] NotoriousRebel commented on #263
Scanning should still work, what is the output?

[2019-07-07 22:15] L1ghtn1ng commented on #259
If you do a git pull this should now be fixed

[2019-07-07 22:15] #259 closed

[2019-07-07 22:16] L1ghtn1ng commented on #262
If you use a virtualenv this will be the best way to fix your issue

[2019-07-07 22:16] #262 closed

[2019-07-07 22:18] L1ghtn1ng commented on #263
from the screenshot you have provided I can see that you are spesifying the -b parameter twice, you only need 1, this should fix your issue

[2019-07-07 22:18] #263 closed

[2019-07-07 22:18] L1ghtn1ng commented on #260
Timeout

[2019-07-07 22:18] #260 closed

[2019-07-10 06:18] d6626410 opened #266 "Execution error"
Error occurred in the Censys module downloading pages from Censys - IP search: + HTTPSConnectionPool(host='censys.io', port=443): Max retries exceeded with url: /ipv4/_search?q=yahoo.com&page=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f34020e1518>: Failed to establish a new connection: [Errno -2] Name or service not known'))
Error occurred in the Cens

[2019-07-13 03:08] NotoriousRebel commented on #266
Are you using the most up to date version?

[2019-07-15 06:01] ssolidus commented on #235
Sorry, I've been terribly busy with work. I will get to this when I can.

[2019-07-17 03:54] Sthomssec opened #267 "Unable to run scanning with using TheHarvester - reopened"
Hello Team, @laramies #

I'm getting an old know issue with TheHarvester tool, but more than that, seems to be related to Wfuzz. Error message = "Warning: Pycurl is not compiled against Openssl. Wfuzz might not work correctly when fuzzing SSL sites. Check Wfuzz's documentation for more information."

I have Openssl and pycurl install with libcurl4 installed. i've been looking for solutions but no

[2019-07-18 17:03] lyouinou opened #268 "Installation problem"
Hi,

 Im trying to install theHarvester on a brand new Raspbian distro.

 I tried to install requirements in a virtualenv, but I got this after setup test :

running test
running egg_info
writing theHarvester.egg-info/PKG-INFO
writing dependency_links to theHarvester.egg-info/dependency_links.txt
writing entry points to theHarvester.egg-info/entry_points.txt
writing top-level names to theHarvester

[2019-07-19 02:50] paradiseduo opened #269 "Can't use"
➜  theHarvester git:(master) ✗ ./theHarvester.py
Traceback (most recent call last):
  File "./theHarvester.py", line 10, in <module>
    from theHarvester import __main__
  File "/Users/youshaoduo/Desktop/TestTools/theHarvester/theHarvester/__main__.py", line 7, in <module>
    from theHarvester.lib import reportgraph
  File "/Users/youshaoduo/Desktop/TestTools/theHarvester/theHarvester/lib/report

[2019-07-19 12:10] luger19 commented on #268
I have the same problem (Raspbian too) and I installed the chart-studio successfully with `sudo pip3 install chart-studio --upgrade` but I don't know how to _use_ chart-studio.plotly _instead_ as it says in the error message.

[2019-07-19 12:37] lyouinou commented on #268
I installed chart-studio as you did, but still getting the same error.

[2019-07-19 13:20] L1ghtn1ng commented on #268
It will need to be changed in the code and will be able to have a look at this later
________________________________
From: lyouinou <notifications@github.com>
Sent: Friday, July 19, 2019 1:37:09 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [laramies/theHarvester] Installation problem (#268)

I installed chart-studio as

[2019-07-21 13:12] littl3field commented on #269
Hi, there is a solution for this.
When using Plotly version 4 you will get this error.
You can downgrade to version 3.10.0 to fix this this.

Simply run:

`pip3 install plotly==3.10.0`

This will fix your problem.

[2019-07-21 13:12] littl3field commented on #268
Hi, there is a solution for this.
When using Plotly version 4 you will get this error.
You can downgrade to version 3.10.0 to fix this this.

Simply run:

`pip3 install plotly==3.10.0`

This will fix your problem.

[2019-07-21 13:20] sieunhando commented on #269
Or change `import plotly.plotly as py` to `import chart_studio.plotly as py` at `theHarvester/lib/reportgraph.py`

[2019-07-21 19:19] L1ghtn1ng commented on #269
Closing due to being a duplicate

[2019-07-21 19:19] #269 closed

[2019-07-21 19:22] L1ghtn1ng commented on #266
Closing due to timeout, as @NotoriousRebel rebel says please make sure you are using the version from git and if still having this issue then please re-open

[2019-07-21 19:22] #266 closed

[2019-07-21 19:24] L1ghtn1ng commented on #245
Closing this now as enough time has past

[2019-07-21 19:24] #245 closed

[2019-07-21 19:44] L1ghtn1ng commented on #268
I have a PR lined up that is in draft at the minute, once it has been merged this will be resolved

[2019-07-22 06:54] L1ghtn1ng commented on #269
I have a pr that will fix this once merged
________________________________
From: sieunhando <notifications@github.com>
Sent: Sunday, July 21, 2019 2:20:45 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [laramies/theHarvester] Can't use (#269)

Or change import plotly.plotly as py to import chart_studio.plotly as py at the

[2019-07-22 18:41] shantarsecurity commented on #268
Confirming this fixes the issue.

[2019-07-22 20:58] clayha commented on #268
Echoing this as a fix action - first time install on new build post requirements install.

[2019-07-22 21:00] L1ghtn1ng commented on #268
I have a pr that will allow to use the new version, just need to get it merged once a few other changes have gone in
________________________________
From: clayha <notifications@github.com>
Sent: Monday, July 22, 2019 9:58:07 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [laramies/theHarves

[2019-07-23 06:17] lyouinou commented on #268
Hi all,

 @littl3field  thank you for the advice. I tried your solution and theHarvester is now working perfectly.

@ shantarsecurity, problem fixed, thank you.
@L1ghtn1ng wonderful if that can be modified in a future update, as I'm pretty sure some other people will have the same issue.

 Thank you all for your help.

[2019-07-26 02:41] paradiseduo opened #271 "This is a issue"
![image](https://user-images.githubusercontent.com/14846965/61922103-e9d9e200-af91-11e9-80d5-b9f69b6f9d73.png)

[2019-07-27 11:01] laramies commented on #267
Hi, I  removed the wfuzz plugin that is causing that pycurl error message. I will re-enable it when is fully implemented. In theory it should be fixed now.  Also worth mentioning that is not an issue, as it is only a warning on how your pycurl is compiled.

[2019-07-27 11:01] #267 closed

[2019-07-28 05:22] tylerjkline opened #272 "IntelX phonebook error."
Hi,

On a clean install and new API of IntelX, when running, the harvester output returns this error:
[code]

The rest of the Intelx scan works just fine though. I saw 2 months ago, [IntelX released their own python API scripts](https://github.com/IntelligenceX/SDK/tree/master/Python), one of them being specifically for the phonebook.

[2019-07-28 14:50] Sthomssec commented on #267
Hi, @laramies

Appreciate the fact you answered and clarify this. I will continue experimenting and implementing resources for the grow of the community. Related to pycurl compilation i will carefully review it.

Thanks

Warm Regards

[2019-08-01 13:33] ypal opened #276 "Program exits after linkedin scan"
As the title says: no matter what other sources you are using, `theharvester` will always exit immediately after a linked search.

The offending line (I believe) is:
https://github.com/laramies/theHarvester/blob/master/theHarvester/__main__.py#L290

[2019-08-06 23:11] NotoriousRebel commented on #272
Are you able to reach the website? This seems to be a networking issue, will take a look of their API scripts as those did not exist when I wrote the plugin.

[2019-08-08 23:16] #276 closed

[2019-08-08 23:17] L1ghtn1ng commented on #268
This is now fixed in master, closing

[2019-08-08 23:17] #268 closed

[2019-08-08 23:17] L1ghtn1ng commented on #271
Now fixed in master

[2019-08-08 23:17] #271 closed

[2019-08-12 19:57] tylerjkline commented on #272
Yes. I verified that it was an issue with hydra by running it in a Kali VM and then on windows outside the VM. Respectively, it could be something with my network connection, but I see that as unlikely as other tools that use the same API seem to work alright.

[2019-08-18 00:46] L1ghtn1ng commented on #235
@ssolidus Just to make you aware, that a while ago I implemented a yaml file config for managing api keys but it is still in the root of the project

[2019-08-18 20:41] L1ghtn1ng opened #280 "Create unit tests for all modules with pytest"
Title says it all

[2019-08-18 20:44] L1ghtn1ng commented on #244
Going to close this as there are a few modules that use google and need retweaking to get around the issue, will create its own issue for this

[2019-08-18 20:44] #244 closed

[2019-08-19 10:04] whoot opened #281 "Skip Google search if IP is blocked"
If google is blocking the IP, searching should be stopped.
So instead of what is done now:
[code]

Do something like this:
[code]

[2019-08-19 14:57] NotoriousRebel commented on #281
Thanks for bringing this up, this will be implemented in the next merge. Or if you want, you are more than welcome to create a PR for this.

[2019-08-20 23:06] NotoriousRebel commented on #272
Can you please take a screenshot of your error @tylerjkline, and make sure you are using the most up to date version of the tool.

[2019-08-23 07:55] ALeftHanded opened #282 "How can I use this under GFW?"
I use the ssr proxy to reach google on Firefox. But I can't connect to google in terminal.
![图片](https://user-images.githubusercontent.com/26318474/63576168-3c70e300-c5be-11e9-882d-c9603b10b753.png)

[2019-08-23 12:25] L1ghtn1ng commented on #282
Clone the repo from git and see how that behaves for you as there has been a lot of changes that will at some point soon ish get tagged for a realese and get pushed into Kali with a lot of big fixes etc
________________________________
From: ALeftHanded <notifications@github.com>
Sent: Friday, August 23, 2019 8:55:16 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <su

[2019-08-24 05:35] 0xn0ne opened #283 "UnboundLocalError: local variable 'data' referenced before assignment"
em... what can I say

**Command:** proxychains python3 theHarvester.py -d xxx.xx -b all

**Issues:**
Traceback (most recent call last):
  File "/home/xn0ne/theHarvester/theHarvester/__main__.py", line 943, in entry_point
    start()
  File "/home/xn0ne/theHarvester/theHarvester/__main__.py", line 426, in start
    search.process()
  File "/home/xn0ne/theHarvester/theHarvester/discovery/crtsh.py",

[2019-08-26 02:49] ALeftHanded commented on #282
Many Chinese geek may really appreciate that. Btw, fk GFW :(.

[2019-08-26 14:25] 0xn0ne commented on #283
I think this is just a question of variable scope

[2019-08-28 16:30] Hackingariseofficial opened #284 "BeautifulSoup library not found, please install it before proceeding"
even tho i got it installed its telling me i dont

BeautifulSoup library not found, please install it before proceeding

[2019-08-28 19:36] L1ghtn1ng commented on #284
You running it under python2 by any chance it is pyhton3.6 you need to run it under
________________________________
From: hacking a rise official <notifications@github.com>
Sent: Wednesday, August 28, 2019 5:30:17 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] BeautifulSoup library not found, please in

[2019-08-31 21:29] L1ghtn1ng commented on #282
You might want to give DoH a try but other than that I do not know how to help you, sorry

[2019-08-31 21:29] #282 closed

[2019-08-31 21:30] L1ghtn1ng commented on #284
Timeout closing

[2019-08-31 21:30] #284 closed

[2019-09-01 03:16] L1ghtn1ng commented on #283
This should be fixed in master now

[2019-09-01 03:16] #283 closed

[2019-09-01 03:16] L1ghtn1ng commented on #255
Has been added

[2019-09-01 03:16] #255 closed

[2019-09-01 03:17] L1ghtn1ng commented on #247
Timeout

[2019-09-01 03:17] #247 closed

[2019-09-01 03:18] L1ghtn1ng commented on #248
@nikosch86 Can you check master to see if you still get this?

[2019-09-01 14:03] git-me-help opened #286 "Skip search option if API is missing "-b all""
Hi!

The "-b all"  option does not work if you miss an API key for one of the search databases. This also happend when google blocked your ip (which you already have resolved). Is it possible to make it so that theharvester will do all the querys possible in the "-b all" options that are possible without "hanging/stopping" on a search database that is not equipped with an API key.

The alternative

[2019-09-01 14:12] L1ghtn1ng commented on #286
You just need to do -b google,yahoo,intelx etc like that no need for multiple -b and in master the -b all option has been removed
________________________________
From: git-me-help <notifications@github.com>
Sent: Sunday, September 1, 2019 3:03:03 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] The "-b a

[2019-09-01 14:20] git-me-help commented on #286
Ah great. This was a L1ghtn1ng quick response. I also see that it skips the "no API" response if you do it like this. Thanks for resolving

[2019-09-02 22:59] #286 closed

[2019-09-07 11:29] L1ghtn1ng opened #293 "Update linkedin links test to assert"
@chrissparksnj I have just realized that the unit test does not assert on anything, can you update it to assert what is expected please?

[2019-09-07 11:31] L1ghtn1ng commented on #293
See this https://github.com/laramies/theHarvester/blob/master/tests/discovery/test_githubcode.py for an example

[2019-09-07 13:01] verdienansein opened #294 ""all" sources not working"
When I execute theHarvester with the following parameters:

`python3 theHarvester.py -d host -l 500 -b all`

I get the following output:
`
[!] Invalid source.
`

From the code doesn't look like accepting 'all' parameter.

[2019-09-07 15:32] L1ghtn1ng commented on #294
This has be removed due to issues
________________________________
From: VerdiEnansein <notifications@github.com>
Sent: Saturday, September 7, 2019 2:01:34 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] "all" sources not working (#294)

When I execute theHarvester with the following parameters:

python3

[2019-09-07 15:46] verdienansein commented on #294
So, can I remove it from arguments documentation?

[2019-09-07 16:03] L1ghtn1ng commented on #294
It should be already removed, are you using the most up to date version of the code? Or have I missed removing it from somewhere?
________________________________
From: VerdiEnansein <notifications@github.com>
Sent: Saturday, September 7, 2019 4:46:14 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.github.com>
Subjec

[2019-09-07 16:50] verdienansein commented on #294
I see this in __main__.py:

[code]

[2019-09-07 17:54] L1ghtn1ng commented on #294
Ah so I have, will fix that

[2019-09-07 17:55] verdienansein commented on #294
I can do

[2019-09-07 17:56] L1ghtn1ng commented on #294
I am going to push a few other changes as well so will be sorted in the next 5 mins

[2019-09-07 18:02] L1ghtn1ng commented on #294
In master this has now been fixed if you update the code, thanks for pointing it out

[2019-09-07 18:02] #294 closed

[2019-09-10 10:05] ahronmoshe opened #297 "Search in all of the sources"
why we don't have the option to search in all of the sources like google bing etc at one?

[2019-09-10 11:15] L1ghtn1ng commented on #297
The code for that did not work correctly, we may reintroduce it back in the feature when we look at how modules are created. As a lot of duplicate code was being brought in when having that option and just not the best approach of how to do it
________________________________
From: ahronmoshe <notifications@github.com>
Sent: Tuesday, September 10, 2019 11:05:23 AM
To: laramies/theHarvester <theHar

[2019-09-10 21:20] L1ghtn1ng commented on #293
Closing now that the fix for this has been merged

[2019-09-10 21:20] #293 closed

[2019-09-10 21:20] #297 closed

[2019-09-10 21:22] L1ghtn1ng commented on #272
Closing this due to timeout

[2019-09-10 21:22] #272 closed

[2019-09-10 21:23] L1ghtn1ng commented on #248
Clsoing due to timeout

[2019-09-10 21:23] #248 closed

[2019-09-12 20:13] iAmG-r00t opened #299 "Doesn't have the -all tag for sources"
I am trying to use the -b all source option but it gives me an error saying invalid source, using version 3.1.0.dev2

[2019-09-14 20:07] tw4ds commented on #127
Another piece to remember on this for anyone updating the API is to remove the ""s as it needs to be formatted as an integer.

[2019-09-14 23:29] #299 closed

[2019-09-15 13:31] L1ghtn1ng commented on #281
In master it now when detects google is blocking you to use a different method to search for results

[2019-09-15 13:31] #281 closed

[2019-09-16 05:29] BMFI commented on #280
Traceback (most recent call last):
  File "/usr/bin/theharvester", line 19, in <module>
    from lib import htmlExport
ImportError: cannot import name htmlExport

I am new here, but working on all the jargon, rules and compliance. I am not sure why? I have python3.7 and tried using the gnome or Gui to open and got this Traceback. I downloaded the zip put it on the Desktop, extracted here, next ope

[2019-09-16 05:40] BMFI opened #302 "Running theHarvester for the first time."
Traceback (most recent call last):
File "/usr/bin/theharvester", line 19, in
from lib import htmlExport
ImportError: cannot import name htmlExport

I am new here, but working on all the jargon, rules and compliance. I am not sure why? I have python3.7 and tried using the gnome or Gui to open and got this Traceback. I downloaded the zip put it on the Desktop, extracted here, next opened theHarveste

[2019-09-16 06:25] L1ghtn1ng commented on #280
You need to make sure you are using the one from git and that you setup a virtualenv and with the virtualenv active run the command to install the required librarys
________________________________
From: BMFI <notifications@github.com>
Sent: Monday, September 16, 2019 6:29:09 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Author <author@nor

[2019-09-16 11:37] ALeftHanded commented on #282
I finally done with using SSR vpn. Really thank u for developing this outstanding software.

[2019-09-16 11:54] L1ghtn1ng commented on #282
From all the team thank you for your kind words
________________________________
From: ALeftHanded <notifications@github.com>
Sent: Monday, September 16, 2019 12:37:45 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [laramies/theHarvester] How can I use this under GFW? (#282)

I fin

[2019-09-17 06:27] BMFI commented on #280
Thank you for the e-mail and quick shotgun answers. I now have theHarvester up and running easy as pie. Thank you

[2019-09-17 22:34] leebaird opened #303 "intelx"
OS: Running on Kali Linux, fully patched with the latest version of the repo.
Target: livenation.com
module: intelx

Traceback (most recent call last):
  File "/usr/lib/python3.7/encodings/idna.py", line 167, in encode
    raise UnicodeError("label too long")
UnicodeError: label too long

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  Fil

[2019-09-19 03:10] NotoriousRebel commented on #302
Are you still having this error, and if so please provide a screenshot of your current python version as well as you running the code.

[2019-09-20 03:46] ssolidus opened #305 "Issues with app on Arch Linux"
I manage the Arch Linux package for this app:

https://aur.archlinux.org/packages/theharvester-git/

https://aur.archlinux.org/packages/python-theharvester-git/

As of a recent version, I get this error:

[code]

Could you please advise? Arch Linux doesn't have the `python-chart-studio` package, but I've made packages in the past that were dependencies of theHarvester, and wouldn't mind doing that

[2019-09-20 08:01] L1ghtn1ng commented on #305
If you get the very most recent checkout of git this issue is resolved
________________________________
From: ssolidus <notifications@github.com>
Sent: Friday, September 20, 2019 4:46:53 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] Issues with app on Arch Linux (#305)

I manage the Arch Linux package

[2019-09-20 11:55] sophisticcitizen opened #306 "Replace censys with spyse"
Check out [spyse](https://spyse.com) API. It should be compared to censys, cause they pretty similar but Spyse could get more validated data. But also, they are less stable than censys

[2019-09-20 12:12] L1ghtn1ng commented on #306
We are redoing the censys module to use the api and this would be a good addition to have
________________________________
From: sophisticcitizen <notifications@github.com>
Sent: Friday, September 20, 2019 12:55:07 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] addition or instead censys SA [enhancement

[2019-09-20 14:03] sophisticcitizen commented on #306
cool

[2019-09-21 06:27] NF997 opened #307 "New Release"
When will there be a new release? I would love to see the new features developed since December last year be available through package managers like apt-get.

[2019-09-21 08:30] L1ghtn1ng commented on #307
We would like to do one soon, just there are a few things that need sorting first
________________________________
From: Nico Fechtner <notifications@github.com>
Sent: Saturday, September 21, 2019 7:28:00 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] New Release (#307)

When will there be a new release

[2019-09-21 18:55] jankooistra opened #308 "No output"
hi,

i am on debian 10, installed it via source. But when i try to run theharvester i get:

[*] No IPs found.

[*] No emails found.

[*] No hosts found.

Everytime, with every switch. I can't find wat is wrong. Someone?

P.S. It also outputs: "table results already exits"
Cheers

[2019-09-21 22:47] NotoriousRebel commented on #308
Are you using the most recent version? Did you also install the requirements and are using python3.6+?

[2019-09-22 12:01] jankooistra commented on #308
Yes, Yes and yes. I found that it does work when i put a source with the -b switch after it, but it only allows one source to search

[2019-09-22 13:15] L1ghtn1ng commented on #308
You can do the following -b google,duckduckgo,threatcrowd and so forth
________________________________
From: jankooistra <notifications@github.com>
Sent: Sunday, September 22, 2019 1:01:37 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [laramies/theHarvester] No output (#308)

Yes, Yes and yes. I found that it does work w

[2019-09-22 13:17] #308 closed

[2019-09-22 13:22] L1ghtn1ng commented on #302
You need to use python3.6+ and I recommend using a virtualenv to install the requirements.txt file and with that you should be up and running, if you still have issues re-open. Thank you for reporting an issue

[2019-09-22 13:22] #302 closed

[2019-09-22 13:22] L1ghtn1ng commented on #303
@NotoriousRebel What is the update on this one?

[2019-09-23 07:02] ssolidus commented on #305
I fixed this by clean-installing the package, which produced new errors, which were fixed by adding the dependencies with `python-gevent` and `python-grequests`

[2019-09-23 07:02] #305 closed

[2019-09-24 17:09] NotoriousRebel commented on #303
@L1ghtn1ng This has been resolved in the most recent PR to your fork.

[2019-09-25 20:24] L1ghtn1ng commented on #303
closing as this will be solved in master shortly

[2019-09-25 20:24] #303 closed

[2019-09-26 22:05] L1ghtn1ng commented on #306
We have decided to remove censys in favour of using spyse

[2019-10-02 23:09] L1ghtn1ng opened #314 "Add static typing to files"
Title says it all

[2019-10-03 09:48] apatedolos opened #315 "Shodan search not working"
I realised that host_ips are not being populated for use with shodan so it is not working currently.

For now I have got around this with a bit of a hacky fix by changing the followin in __main__.py

    shodanres = []
    if shodan is True:
        import texttable
        tab = texttable.Texttable()
        header = ['IP address', 'Hostname', 'Org', 'Services:Ports', 'Technologies']
        tab.

[2019-10-04 06:33] ssolidus commented on #235
@L1ghtn1ng I'm aware, that was actually the reason I came up with this idea - as I manage the Arch Linux package for this app, it didn't make much sense for it to be dumping config files in the directory you run the command in.

Hoping to get this done over the weekend.

[2019-10-04 06:37] L1ghtn1ng commented on #235
That would be awesome if you can get this done over the weekend
________________________________
From: ssolidus <notifications@github.com>
Sent: Friday, October 4, 2019 7:33:22 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [laramies/theHarvester] Managing the user's API key file properly (#

[2019-10-04 13:21] NotoriousRebel commented on #315
Thank you for the issue! This is being looked at.

[2019-10-05 06:30] NotoriousRebel opened #316 "Rework of unique method inside myparser.py"
Inside theHarvester/parsers, the method unique inside myparser.py could use reworking as it is convoluted and could be improved upon.

[2019-10-05 06:35] NotoriousRebel opened #317 "Reduce code repetition"
Inside __main__.py there is a lot of code repetition as well as in the discovery modules for example, most modules have the same do_search method with a different list of urls and most have the same get_emails and get_hostnames functions. Inside __main__.py  for each engineitem it does very similiar function calls.  Most of these functions could be put inside constants.py or core.py and this would

[2019-10-05 06:38] NotoriousRebel opened #318 "Create Pipfile"
For people who like to use pyenv or for other reasons there should be a Pipfile for dependencies.

[2019-10-05 06:39] NotoriousRebel opened #319 "Reintegration of -b all"
-b all was not working so it was removed for the timebeing, -b all needs to be reworked to properly iterate through each engine and the code should not be too repetitive.

[2019-10-05 06:42] NotoriousRebel opened #320 "Renaming of variables inside myparser.py"
Currently there are a lot of single letter variables, they should be changed to be more helpful.

[2019-10-05 06:43] NotoriousRebel opened #321 "Add docstring"
Some modules and functions throughout the code base have little to no docstring, this should change!

[2019-10-05 06:53] NotoriousRebel opened #322 "Rework dorks.txt wordlist"
Some of the dorks are not that helpful and coul be replaced with more useful stuff.

[2019-10-05 06:55] cueo commented on #316
Can I pick this up?

[2019-10-05 07:07] NotoriousRebel commented on #316
@cueo Anyone can pick these up, these issues aren't necessarily reserved for one person. You are more than welcome to create a PR for this issue :)

[2019-10-05 08:56] may55 commented on #318
@NotoriousRebel  I have made a pull request #327 Kindly give it a look and let me know if it needs any change.

[2019-10-05 09:11] Vivek0712 commented on #320
I would like to contribute for the issue opened

[2019-10-05 14:14] L1ghtn1ng commented on #317
Core.py would be better
________________________________
From: Matt <notifications@github.com>
Sent: Saturday, October 5, 2019 7:35:33 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] Reduce code repetition (#317)

Inside main.py there is a lot of code repetition as well as in the discovery modules for ex

[2019-10-05 21:57] L1ghtn1ng commented on #320
@Vivek0712 you got beaten to the punch unfortunately but we have plenty more help that is needed :-)

[2019-10-05 21:57] #320 closed

[2019-10-05 22:00] L1ghtn1ng commented on #306
This will be resolved by #320 once I get access to the new API to create the module for the new one API

[2019-10-06 00:41] #318 closed

[2019-10-06 16:39] maxerenberg commented on #317
I submitted a pull request for this issue. Sorry for all the mini commits - flake8 was giving me errors because it couldn't recognize transitive imports. This is my first time contributing so please let me know if I'm missing anything

[2019-10-06 16:43] maxerenberg commented on #317
I also removed 'vhost' from the -b options because it wasn't even being checked

[2019-10-06 19:50] #316 closed

[2019-10-07 01:25] maxerenberg commented on #317
@L1ghtn1ng Thank you for the feedback. Would it perhaps be a good idea to have one abstract base class with common methods for the Search engines, and have each engine from that? It might not necessarily reduce the total amount of code, but it would avoid having a gigantic if statement in __main__.py.

[2019-10-09 18:00] sophisticcitizen commented on #306
That's cool. I think you can contact those guys for some info about products. I know that they going to update their API to V2

[2019-10-10 20:03] NotoriousRebel commented on #317
@maxerenberg At the moment there are two big cases of code repetition that should take highest priority. The first case is inside __main__.py when we find the engine we want to use, you notice it is the same formula in which it creates the discovery class gets the results then stores it in the database. We could for example move that to a new file or create new functions inside core.py. Furthermor

[2019-10-11 00:23] maxerenberg commented on #317
@NotoriousRebel I noticed that most of the discovery classes have very similar methods which accept very similar sets of parameters. I think it would be a good idea to have one abstract base class from which all the discovery classes inherit. This way, we could group together common blocks of code and have one common interface for every discovery class. For example, we could have something like
[c

[2019-10-11 06:18] NotoriousRebel commented on #315
@apatedolos I have reworked the shodan logic inside __main__.py as well as reworked how the hostchecker works. Upon further examiniation there seems to be an API error with the default key; however, if you have your own key it should work now! The fix is currently [here](https://github.com/L1ghtn1ng/theHarvester/pull/27) and will be merged here soon!
Thank you for pointing this out.

[2019-10-11 12:32] apatedolos commented on #315
Great stuff!

Ta

[2019-10-12 19:46] sh1va73 opened #332 "hostchecker error"
I get this error when doing a search, any idea how to fix?

I got this error after i commented out hostchecker. This was a fix suggester here : https://github.com/laramies/theHarvester/issues/45

That fix was for another error.

[+] Hosts found in search engines:
------------------------------------

Total hosts: 7

[-] Resolving hostnames IPs...

Traceback (most recent call last):
  File "/usr/bi

[2019-10-12 20:24] L1ghtn1ng commented on #332
@sh1va73 You using kali by any chance? if so that is a bug in the old version of the app which you will not get in master. We will be doing a new release soon and when it gets picked up in kali this will be resolved

[2019-10-12 20:27] #319 closed

[2019-10-12 20:28] sh1va73 commented on #332
thanks for your reply. yes i am on latest kali.

[2019-10-12 20:31] sh1va73 commented on #332
I just did a manual install of the new version 3.1.0 and this is working fine.

[2019-10-12 21:34] #332 closed

[2019-10-12 22:06] L1ghtn1ng commented on #315
THis is now fixed in master

[2019-10-12 22:06] #315 closed

[2019-10-12 23:49] L1ghtn1ng opened #334 "Fix mypy errors for github module"
[code]

[2019-10-14 09:27] 400notOK commented on #321
Should documentation follow PEP8 standards?

[2019-10-14 20:29] NotoriousRebel commented on #317
@maxerenberg I apologize for the late response, the abstract class seems to be a good idea and something to look into. I would look at #340 as well and see if that mindset is similiar to what you wanted to do.

[2019-10-14 21:21] sh1va73 opened #341 "PGP"
Is pgp not available from sources anymore?

[2019-10-14 22:15] leebaird commented on #341
PGP is no longer supported.

[2019-10-14 22:15] #341 closed

[2019-10-14 22:17] leebaird commented on #307
3.1 just released.

[2019-10-14 22:17] #307 closed

[2019-10-16 04:52] maxerenberg commented on #317
@NotoriousRebel  I think #340 is somewhat similar to what I'm trying to do. There's still a lot of code in \_\_main\_\_.py and a lot of repetition in the individual search classes which I think should be placed in a shared external class. However, as @cueo mentioned, there are a lot of variables which are referenced later in the code. I think a long-term solution would be for each search class to

[2019-10-16 05:53] rohitcoder commented on #221
Still, no one posted the proper solution, and closed this thread.

[2019-10-16 06:05] NotoriousRebel commented on #221
@YashvirGit or @rohitcoder are you getting this issue? If you do not have the module pip you will need to install it and then install the required dependencies and the tool should work just fine.

[2019-10-16 07:00] paradiseduo commented on #271
![image](https://user-images.githubusercontent.com/14846965/66895567-b903c900-f025-11e9-87b0-cd5fd7f4aeff.png)

[2019-10-16 07:01] paradiseduo commented on #271
Now this issue reopen~~~~~~

[2019-10-16 07:03] L1ghtn1ng commented on #271
Seems we have no luck with this as I adjusted it as the formatting on Kali was wrong in the new release on Kali and I do not know why
________________________________
From: paradiseduo <notifications@github.com>
Sent: Wednesday, October 16, 2019 8:01:13 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; State change <state_change@noreply.github

[2019-10-16 07:45] blshkv opened #344 "unable to start v3.1"
I have installed the latest version 3.1 using setup.py and tried to run it. Here is the the full output:
[code]

[2019-10-16 07:51] blshkv commented on #344
my bad, wrong (test) version

[2019-10-16 07:51] #344 closed

[2019-10-16 07:57] blshkv opened #345 "relax dependencies in setup.py"
Please do not require the explicit version using ```pythonpkg==2.0.0``` unless it is absolutely necessary.
It is hard to impossible to satisfy two different tools, if the second tool would require ```pythonpkg==2.0.1```, for example.

The much better way is to use ```>=2.0.0```. You can also add ```<=3.0.0``` if you want to be safe

[2019-10-16 08:58] L1ghtn1ng commented on #345
The reason we do this and there are no packages in setup.py is having reproducible builds to what the core team use and what the ci uses
________________________________
From: Anton Bolshakov <notifications@github.com>
Sent: Wednesday, October 16, 2019 8:57:05 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvest

[2019-10-16 09:01] cueo opened #346 "[Other] Enforce checkstyle"
**Feature Request or Bug or Other**
Other

**Describe the feature request or bug or other**
Enforce checkstyle using customized variation of pylint or pychecker.
As part of this, we should enforce DocString for every method added.

As an aside, we can revisit all the existing DocStrings and convert them to Google or Numpy format. Recommended [here](https://www.sphinx-doc.org/en/master/usage/extens

[2019-10-16 09:03] cueo commented on #346
I'd like to work on this if this looks like something worth doing.

[2019-10-16 09:39] L1ghtn1ng commented on #346
I like the output of Googles docstring format with type annotations. How would this work with tests that use the doc strings like noset test iirc?
________________________________
From: Mohit Mayank <notifications@github.com>
Sent: Wednesday, October 16, 2019 10:03:55 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [laramie

[2019-10-16 13:07] blshkv commented on #345
hm... ok, this is good that it is not in setup.py, so I do need to remove it and can just ignore a specific version.

[2019-10-16 13:07] #345 closed

[2019-10-16 16:12] blshkv opened #347 "do not write stash.sqlite in the current location"
I was testing the latest 3.1 release today and was running the tool from different folders.
Apparently,  the tool creates a "stash.sqlite" file in the current folder and it polluted my FS.

Please define a ~/.theHarvester or similar folder and write output in one place.

[2019-10-16 17:17] NotoriousRebel commented on #347
@blshkv where would you want it stored?

[2019-10-16 17:49] blshkv commented on #347
I already mentioned ```~/.theHarvester``` but any single location for the entire output would be great

[2019-10-17 08:14] GoelBiju commented on #314
Hello @L1ghtn1ng , I'm new to the project but would be happy to help. Is this for all files in the repository or within theHarvester source?

[2019-10-17 13:53] L1ghtn1ng commented on #314
This would be for the modules and theHarvester source
________________________________
From: Goel Biju <notifications@github.com>
Sent: Thursday, October 17, 2019 9:14:41 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [laramies/theHarvester] Add static typing to files (#314)

Hello @L1ghtn1n

[2019-10-17 14:13] GoelBiju commented on #314
@L1ghtn1ng I'm quite new to statically typing in Python but I'll have a learn about it and apply it here.

[2019-10-17 17:10] L1ghtn1ng commented on #221
The other option you can do is sudo apt-get install python3-yaml which should fix this for you as well

[2019-10-17 17:10] #221 closed

[2019-10-17 17:22] L1ghtn1ng commented on #235
@ssolidus Any progress on this or I will have a look at doing this?

[2019-10-17 17:24] L1ghtn1ng commented on #347
I have renamed #235 to include this and it will be tracked from there as they are the same thing basically just different files

[2019-10-17 17:24] #347 closed

[2019-10-17 17:25] L1ghtn1ng commented on #235
As we also need to do this for the stash.sqlite

[2019-10-17 23:17] L1ghtn1ng commented on #334
With the new version of mypy we now have errors again

[code]

[2019-10-17 23:18] L1ghtn1ng commented on #334
I have fixed 1 error by changing the function to be an Optional[Any] but would love some help with this error

[2019-10-19 16:43] emrecakmak opened #351 "[?] ModuleNotFoundError: No module named 'gevent'"
**Describe the feature request or bug or other**
I can't open theHarvester because of this error, I installed twice with

`pip3 install gevent` command

but still gives an error about that.

**Screenshots**
<img width="568" alt="Screen Shot 2019-10-19 at 19 39 10" src="https://user-images.githubusercontent.com/16281631/67148467-9af9cb00-f2a8-11e9-86a5-73254fbd237e.png">

**System Information (Syst

[2019-10-19 16:49] #334 closed

[2019-10-19 16:51] L1ghtn1ng commented on #351
you also need to use grequests which is what uses gevent

[2019-10-19 16:55] emrecakmak commented on #351
When I try to install grequests, It says that "Requirement already satisfied"

<img width="1185" alt="Screen Shot 2019-10-19 at 19 54 08" src="https://user-images.githubusercontent.com/16281631/67148636-5707c580-f2aa-11e9-83f1-473e858f7d4a.png">

[2019-10-19 20:16] L1ghtn1ng commented on #351
Try the following ```python3.7 -m pip install pipenv
python3.7 pipenv install
[code]

[2019-10-19 20:17] L1ghtn1ng commented on #351
Then follow the instructions on-screen

[2019-10-19 21:15] emrecakmak commented on #351
Thanks for the help but this didn't solve the problem either.

I tried pip & pip3 install pipenv then pipenv install, the output is like this.

I also tried another solutions related with path and reinstalling ptyhon but they also didn't work, I'm about to go crazy 🤯

<img width="1103" alt="Screen Shot 2019-10-19 at 23 42 49" src="https://user-images.githubusercontent.com/16281631/67151271-84656b0

[2019-10-19 21:26] emrecakmak commented on #351
I tried another code like
`python3 -m pip install -r requirements.txt`
 it fixed the problem.

Thanks for the @L1ghtn1ng

[2019-10-19 21:26] #351 closed

[2019-10-19 23:47] L1ghtn1ng commented on #306
So I have everything in the code base in place just need to get access to the v2 API to sort the module out properly. I do have a module but it is disabled for now till it is ready for prime time

[2019-10-19 23:55] #317 closed

[2019-10-20 00:01] L1ghtn1ng commented on #235
@ssolidus The api-key.yaml and stash.sqlite will need to end up in /etc/theHarvester as I have merged some code that reads the files from there and if using a cloned version from git will read it from the current dir if you look at the keys in core.py

[2019-10-20 16:16] SidaliDzHack commented on #351
i will trie it

[2019-10-20 23:16] L1ghtn1ng commented on #235
To make this more clear. The code that I am on about is for the api-keys.yaml as that is what I have fixed. Also I have added it to the setup.py(api-keys.yaml) which now puts it in the correct location

[2019-10-21 09:49] NF997 opened #355 "Release 3.1 doesn't seem to be stable"
There seems to be an issue with the new release. After installing via `apt-get`, we get the error message `bash: theharvester: command not found`.
This guy also describes the issue a bit more detailed: https://forums.kali.org/showthread.php?45525-theharvester-not-found-after-upgrade

[2019-10-21 10:47] L1ghtn1ng commented on #355
That is due to the fact that the command has been renamed to what it should of been from the outset in Kali to theHarvester that is the command that is needed now
________________________________
From: Nico Fechtner <notifications@github.com>
Sent: Monday, October 21, 2019 10:49:38 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject

[2019-10-23 07:50] NF997 commented on #355
Thanks!
However, when executing `theHarvester` we get the following error:
[code]

After installing `PyYaml` manually (`pip3 install PyYaml`), harvester works as expected.
You should be able to reproduce this behaviour inside a plain `kalilinux/kali-linux-docker` container by running the following commands:
- `apt-get update`
- `apt-get update --fix-missing`
- `apt-get install -y theharvester`
- `

[2019-10-23 08:10] L1ghtn1ng commented on #355
Okay thanks will fix the docker container
________________________________
From: Nico Fechtner <notifications@github.com>
Sent: Wednesday, October 23, 2019 8:50:34 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [laramies/theHarvester] Release 3.1 doesn't seem to be stable (#355)

Thanks!
How

[2019-10-27 03:37] M0dred opened #357 "ERROR: ERROR: Package installation failed..."
uname -a
Linux XXXXXX 4.19.66-v7+ #1253 SMP Thu Aug 15 11:49:46 BST 2019 armv7l GNU/Linux

python3 -V
Python 3.7.5rc1

sudo pipenv install

warning: build_py: byte-compiling is disabled, skipping.', '    ', '    running build_ext', "    building '_cffi_backend' extension", '    creating build/temp.linux-armv7l-3.7', '    creating build/temp.linux-armv7l-3.7/c', '    arm-linux-gnueabihf-gcc -pthrea

[2019-10-27 03:47] M0dred opened #358 "ModuleNotFoundError: No module named 'yaml'"
sudo theHarvester

Traceback (most recent call last):
  File "/usr/bin/theHarvester", line 11, in <module>
    load_entry_point('theHarvester==3.1.0', 'console_scripts', 'theHarvester')()
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 489, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python3/dist-packages/pkg_resource

[2019-10-27 10:46] L1ghtn1ng commented on #358
This from the docker file ?
________________________________
From: M0dred <notifications@github.com>
Sent: Sunday, October 27, 2019 3:47:34 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] ModuleNotFoundError: No module named 'yaml' (#358)

sudo theHarvester

Traceback (most recent call last):
File "/usr/

[2019-10-27 10:56] M0dred commented on #358
Nope, but thank u.
Finally,  I use  pip3 install pyyaml
and all good.

[2019-10-28 00:04] GoelBiju commented on #314
@L1ghtn1ng I have just been trying to use theHarvester.py script within a pipenv shell (Python 3.7.4) however, I keep on encountering the issue that 'gevent' has not been found. Is this an issue with the way I have set up the environment? I did run pipenv install before-hand.

[2019-10-28 07:33] L1ghtn1ng commented on #314
pipenv install grequests
________________________________
From: Goel Biju <notifications@github.com>
Sent: Monday, October 28, 2019 12:04:24 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [laramies/theHarvester] Add static typing to files (#314)

@L1ghtn1ng<https://github.com/L1ghtn1ng> I ha

[2019-10-30 00:12] GoelBiju commented on #314
Ok so I have it finally working when running 'python theHarvester.py'. I tried just plainly deactivating the virtual environment and running a 'pip install gevent' however I came across an access is denied issue when installing. I am using PyCharm and decided to run it as administrator. I opened the terminal instance inside PyCharm again and ran 'pipenv install' and it worked.

[2019-10-30 10:35] WrongProgram1 opened #359 "File "theHarvester.py", line 9, in <module>"
![image](https://user-images.githubusercontent.com/49438078/67850785-0c0c6e80-fb44-11e9-9b81-564f9677ebc9.png)

[2019-10-30 10:44] L1ghtn1ng commented on #359
You will need to use a virtualenv, so pipenv and you should not get this issue, please look at the readme in git
________________________________
From: Wrong Program <notifications@github.com>
Sent: Wednesday, October 30, 2019 10:35:43 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] File "theHarvester.py

[2019-10-31 03:04] NotoriousRebel commented on #357
Do you have gcc installed?

[2019-11-03 00:55] anoduck opened #360 "DOC: How to add and store API keys"
**Feature Request or Bug or Other**
Other

**Describe the feature request or bug or other**
Looking for documentation explaining how to add and store api keys for use when running modules that require them.
Where does the script look for api_keys.yml?

**To Reproduce**
Steps to reproduce the behavior:
1. Run tool with `-b all`
2. Receive error that api keys are not found for: github, hunter, bing,

[2019-11-03 00:57] L1ghtn1ng commented on #360
What version are you using the one that is in Kali or a git clone?
________________________________
From: Anoduck <notifications@github.com>
Sent: Sunday, November 3, 2019 12:55:59 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] DOC: How to add and store API keys (#360)

Feature Request or Bug or Other
O

[2019-11-03 15:35] anoduck commented on #360
@L1ghtn1ng I have both now, so it really doesn't matter. But, for ease of maintenance, let's say the version from Kali's distro, because that is what I was inquiring about originally.

[2019-11-03 15:52] L1ghtn1ng commented on #360
The keys are in /etc/theHarvester but there is a big as we did not know they get stored there so I'm git I have added the ability to get it from there or the current directory. We need to do another release to fix that issue in Kali
________________________________
From: Anoduck <notifications@github.com>
Sent: Sunday, November 3, 2019 3:35:46 PM
To: laramies/theHarvester <theHarvester@noreply.git

[2019-11-03 22:37] anoduck commented on #360
Well, hot diggity dang! There it is.... Well done!

[2019-11-03 22:37] #360 closed

[2019-11-05 11:46] digininja commented on #359
With a bit of struggle I've got pipenv working and installing things but still can't get this working. Can you give a bit more detailed help on getting the whole lot setup?

[2019-11-05 13:41] tolgagundogdu opened #362 "Google is blocking your ip and the workaround"
Hi;

I got an error:
Google is blocking your ip and the workaround, returning
        Searching 100 results.
Google is blocking your ip and the workaround, returning
        Searching 200 results.
Google is blocking your ip and the workaround, returning
        Searching 300 results.
Google is blocking your ip and the workaround, returning
        Searching 400 results.
Google is blocking your ip

[2019-11-06 14:06] NotoriousRebel commented on #362
@tolgagundogdu This is a current issue we are dealing with and are working on implementing new workarounds eventually! Are you using the most recent version of the tool? If Google is blocking your ip and the workaround it should exit that block of code and move to the next search engine.

[2019-11-09 00:12] john-connort8001 commented on #359
I have pipenv installed and I get the same error.

[2019-11-09 22:03] L1ghtn1ng commented on #359
@digininja @WrongProgram1 Sorry for the delay in this have an ear infection in both ears. This should be a good guide for you both to get you up and running correctly. If it does I will add it to the readme https://jcutrer.com/python/pipenv-pipfile

[2019-11-11 10:18] digininja opened #363 "Odd debug showing before the banner"
**Feature Request or Bug or Other**
Other

**Describe the feature request or bug or other**
Each time I run the app I get the message "table results already exists" before the banner. It looks like debug that has been left in somewhere but I can't find a reference to that text anywhere in the app itself so it may be from one of the dependencies.

**To Reproduce**

Simply run the app:

[code]

**Ex

[2019-11-11 13:47] tolgagundogdu commented on #362
Yes it jumps to next source but there is no result at the end. I think The Google is the blocking the the biggest part of the investigation.

[2019-11-11 16:27] NotoriousRebel commented on #363
This may be with when the program first interacts with SQLite will look into it.

[2019-11-11 16:31] digininja commented on #363
I have updated from an older version so it may be that the old database
structure needs a tweak to bring it up to date.

On Mon, 11 Nov 2019 at 16:27, Matt <notifications@github.com> wrote:

[2019-11-13 13:25] bphd opened #364 "[Bug] No gevent"
**Feature Request or Bug or Other**
Bug

**Describe the feature request or bug or other**
No module named 'gevent'

**To Reproduce**
[code]

**Expected behaviour**
A convivial interface who ask me to enter the informations to search and showing results

**Screenshots**
[code]

**System Information (System that tool is running on):**
 - OS: Ubuntu latest

**Additional context**

[2019-11-13 14:16] NotoriousRebel commented on #364
Thank you for bringing this to our attention it looks like gevent is not in requirements.txt could you try pip installing it? ```python3 -m pip install gevent```

[2019-11-13 14:53] L1ghtn1ng commented on #363
@digininja We have noticed this ourselfs but not sure what it is, you idea sounds very plausible but as @NotoriousRebel  says we will have a look into that, but for now it does not causing any issues from what we have observed

[2019-11-13 14:56] #364 closed

[2019-11-13 14:58] L1ghtn1ng commented on #359
@digininja @WrongProgram1 I have added gevent to the requirements.txt which pipenv will also use as it exists, so in the feature should not happen now. Okay to close this ticket out?

[2019-11-13 14:59] #358 closed

[2019-11-13 15:02] digininja commented on #363
Didn't seem to cause a problem beyond looking odd.

Happy to help debug if needed.

On Wed, 13 Nov 2019, 14:53 J.Townsend, <notifications@github.com> wrote:

[2019-11-13 15:04] digininja commented on #359
Is t suggest adding that link, or a summary of it, to the installation
instructions.

On Wed, 13 Nov 2019, 14:58 J.Townsend, <notifications@github.com> wrote:

[2019-11-13 15:31] L1ghtn1ng commented on #359
Will do

________________________________
From: Robin Wood <notifications@github.com>
Sent: Wednesday, November 13, 2019 3:04:13 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [laramies/theHarvester] File "theHarvester.py", line 9, in <module> (#359)

Is t suggest adding that link, or a summ

[2019-11-13 15:32] L1ghtn1ng commented on #363
That would be great more heads looking at it the better 😊

________________________________
From: Robin Wood <notifications@github.com>
Sent: Wednesday, November 13, 2019 3:02:58 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [laramies/theHarvester] Odd debug showing before the banner (#363)

[2019-11-13 15:33] digininja commented on #363
Let me know where to look and I'll see what I can do.

On Wed, 13 Nov 2019 at 15:32, J.Townsend <notifications@github.com> wrote:

[2019-11-13 15:36] L1ghtn1ng commented on #363
Stash.py and maybe also check the library that we are using to give ideas as well

________________________________
From: Robin Wood <notifications@github.com>
Sent: Wednesday, November 13, 2019 3:33:59 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [laramies/theHarvester] Odd debug showing

[2019-11-13 15:41] digininja commented on #363
Found it, theHarvester/lib/stash.py line 21

[code]

It looks like you always create the table regardless of whether it already
exists or not.

On Wed, 13 Nov 2019 at 15:36, J.Townsend <notifications@github.com> wrote:

[2019-11-13 15:42] L1ghtn1ng commented on #363
Yeah that would do it

________________________________
From: Robin Wood <notifications@github.com>
Sent: Wednesday, November 13, 2019 3:41:21 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [laramies/theHarvester] Odd debug showing before the banner (#363)

Found it, theHarvester/lib/stash.p

[2019-11-13 15:43] L1ghtn1ng commented on #363
Do you get that message if you delete the database?
________________________________
From: Jay Townsend <townsend891@hotmail.com>
Sent: Wednesday, November 13, 2019 3:42:45 PM
To: laramies/theHarvester <reply@reply.github.com>
Subject: Re: [laramies/theHarvester] Odd debug showing before the banner (#363)

Yeah that would do it

________________________________
From: Robin Wood <notifications@gith

[2019-11-13 16:04] digininja commented on #363
Pull request incoming.

On Wed, 13 Nov 2019 at 15:44, J.Townsend <notifications@github.com> wrote:

[2019-11-13 20:28] John0516 opened #367 "Hunter API key to theHarvester"
I am trying to use theHarvester with the command "-b all." I have an API key for Hunter, but I don't know how to put it into theHarvester.

[2019-11-13 20:29] L1ghtn1ng commented on #367
You using git or the one in Kali?
________________________________
From: John0516 <notifications@github.com>
Sent: Wednesday, November 13, 2019 8:28:35 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] Hunter API key to theHarvester (#367)

I am trying to use theHarvester with the command "-b all." I have

[2019-11-13 20:33] John0516 commented on #367
kali

[2019-11-13 20:36] L1ghtn1ng commented on #367
For now you will want to have the git version until we do a new release which has a fix in it for kali and then you can just follow the README.md

________________________________
From: John0516 <notifications@github.com>
Sent: Wednesday, November 13, 2019 8:33:50 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.githu

[2019-11-13 20:38] John0516 commented on #367
thanks

[2019-11-14 09:25] bphd opened #368 "[Bug] No gevent 2"
**Feature Request or Bug or Other**
Feature Request | Bug | Other

**Describe the feature request or bug or other**
Following #364
Still same error after downloading the new requirements.txt

**To Reproduce**
Steps to reproduce the behaviour:
Same than #364 + downloading the new requirements.txt

**Expected behaviour**
Same

**Screenshots**
Same

**System Information (System that tool is running o

[2019-11-14 17:45] NotoriousRebel commented on #368
Thank you for bringing this to our attention, I just realized that gevent is not in the Pipfile I am not too familiar with pyenvs but would that fix it?

[2019-11-14 17:47] bphd commented on #368
Can't tell you, let's wait for the author

[2019-11-14 17:51] NotoriousRebel commented on #368
@bphd on the bright side grequests + gevent will be gone soon, we are working on big changes that will make the tool much faster :)

[2019-11-14 17:52] bphd commented on #368
Okay, but to execute it now, what should i do ?

[2019-11-14 19:39] NotoriousRebel commented on #368
Can you try python3.7 -m pip install gevent

[2019-11-17 09:59] M0dred opened #369 "[Bug|pipenv install error"
pipenv install

**Feature Request or Bug or Other**
Feature Request | Bug |
Get it with "Build Tools for Visual Studio": https://visualstudio.microsoft.com/downloads/', '    ----------------------------------------', 'ERROR: Command errored out with exit status 1: \'c:\\users\\administrator\\.virtualenvs\\theharvester-_numwgve\\scripts\\python3.exe\' -u -c \'import sys, setuptools, tokenize; sys.a

[2019-11-18 10:26] M0dred opened #370 "[Bug| pip3 install error ,This package cannot be safely installed by EasyInstall"
**Feature Request or Bug or Other**
Feature Request | Bug | Other

 setuptools.sandbox.SandboxViolation: SandboxViolation: open('_configtest.c', 'w') {}

    The package setup script has attempted to modify files on your system
    that are not within the EasyInstall build area, and has been aborted.

    This package cannot be safely installed by EasyInstall, and may not
    support alternate ins

[2019-11-20 21:59] L1ghtn1ng commented on #370
@M0dred please have a look at https://github.com/laramies/theHarvester/wiki/Installation

[2019-11-20 22:00] L1ghtn1ng commented on #369
theHarvester does not work on python2

[2019-11-20 22:00] #369 closed

[2019-11-20 22:01] L1ghtn1ng commented on #368
@bphd This has timed out but also look at https://github.com/laramies/theHarvester/wiki/Installation to help you

[2019-11-20 22:01] #368 closed

[2019-11-20 22:01] #367 closed

[2019-11-20 22:02] L1ghtn1ng commented on #359
Have added the link to the wiki and will be adding the link in the readme to the wiki https://github.com/laramies/theHarvester/wiki/Installation

[2019-11-20 22:02] #359 closed

[2019-11-20 22:03] L1ghtn1ng commented on #357
Timeout

[2019-11-20 22:03] #357 closed

[2019-11-20 22:04] #363 closed

[2019-11-20 22:05] #355 closed

[2019-11-20 22:05] L1ghtn1ng commented on #346
@cueo Any update on this?

[2019-11-20 22:06] L1ghtn1ng commented on #235
@ssolidus Any update?

[2019-11-23 13:00] lookaj commented on #362
same issue here :(

[2019-11-25 00:47] NotoriousRebel commented on #362
This will be worked on very soon!

[2019-11-27 07:00] #306 closed

[2019-12-01 11:14] janmasarik commented on #248
I'm still receiving this issue while running it in docker 😕

[2019-12-02 13:20] NotoriousRebel commented on #248
@janmasarik can you try using docker as it states in the [wiki](https://github.com/laramies/theHarvester/wiki/Installation) and let me know if it still doesn't work, I will test later today as well.

[2019-12-03 06:12] darkmatter1505 opened #371 "[*] Searching Github (code). [Errno 2] No such file or directory: 'api-keys.yaml'"
Bug

Searching domain name and when theharvester gets to Github I get this error. The error happens if I have my key in the api-key.yaml file and it happens when the key is not in the yaml file.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run tool like this: 'theharvester -d domain.org -l 1000 -b all -s -f harvest.html '
2. See error:
       [Errno 2] No such file or directory: 'api-key

[2019-12-04 14:05] NotoriousRebel commented on #371
What version of theHarvester are you using?

[2019-12-04 14:23] darkmatter1505 commented on #371
3.1.0

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matt <notifications@github.com>
Sent: Wednesday, December 4, 2019 8:05:25 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: DarkMatter1505 <darkmatter1505@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [laramies/theHarvester] [*] Searching Github (code). [Errno 2] No such fil

[2019-12-05 12:54] distny commented on #371
Hello

I've copied the api-keys.yaml file to /root/ and edited it in /etc/theHarvester/ too, but I am still getting the error:
[Errno 2] No such file or directory: 'api-keys.yaml'

I am using the 3.1.0 version on Kali Linux from Kali repositories.

[2019-12-05 22:54] NotoriousRebel commented on #371
@darkmatter1505 can you please try with the latest version and follow the instructions in the wiki to install it? [wiki](https://github.com/laramies/theHarvester/wiki/Installation)

[2019-12-05 22:54] NotoriousRebel commented on #371
@distny  please read this [issue](https://github.com/laramies/theHarvester/issues/360)

[2019-12-06 17:06] darkmatter1505 commented on #371
@NototiousRebel downloaded the latest version and installed per the wiki. The is not happening any longer, but a different error is happening.

[*] Reporting started.
module 'theHarvester.lib.reportgraph' has no attribute 'GraphGenerator'

[!] An error occurred while creating the output file.

Do you want me to open a new issue for this error?

[2019-12-08 10:35] cueo commented on #346
@L1ghtn1ng Will take it up next to next weekend.

[2019-12-14 22:09] VHE-AUG commented on #371
Hi,
i had to the same issue that @darkmatter1505  had.

1) moved the api-keys.yaml the same folder as theHaverster.py abd that resolved the issue.

2)

module 'theHarvester.lib.reportgraph' has no attribute 'GraphGenerator'

I had issue aswell and discoved that the intendation is not good in the reportgraph.py

As I am brandnew to github i don't how to sugest this fix. thats why i will drop it her

[2019-12-23 13:00] chsafe opened #374 "[Bug] failed to detect a valid IP address from 'shops.myshopify.com'"
[!] Missing API key.
[*] Searching Intelx.
[*] Searching Netcraft.
[*] Searching Github (code).

[!] Missing API key.
[*] Searching AlienVault OTX.
	Searching results.
[*] Searching Bing.
	Searching 0 results.
[*] Searching VirusTotal.
	Searching results.
[*] Searching DuckDuckGo.
[*] Searching Suip. This module can take 10+ mins to run but it is worth it.
	Searching results.
[*] Searching DNSdump

[2019-12-23 19:01] NotoriousRebel commented on #374
Thank you for bringing this to our attention, this will be looked at.

[2019-12-23 19:57] adrhmnhkm opened #375 "How to install theHarvester on Ubuntu 18.04 ?"
I try to install by cloning from repository and i get notice like this below

![Screenshot from 2019-12-23 21-55-56](https://user-images.githubusercontent.com/12286739/71378064-25271e00-25cf-11ea-8b71-4c9a19943f5a.png)

[2019-12-23 19:59] L1ghtn1ng commented on #375
That is due to you running it under py2 you have to run it using the following python3 theHarvester.py etc
________________________________
From: Adi Rahman Hakim <notifications@github.com>
Sent: Monday, December 23, 2019 7:57:13 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] How to install theHarvester

[2019-12-23 21:53] L1ghtn1ng commented on #370
Timeout

[2019-12-23 21:53] #370 closed

[2019-12-23 21:55] L1ghtn1ng commented on #371
Closing this out now and the report graph issue should now be fixed in master

[2019-12-23 21:55] #371 closed

[2019-12-23 21:55] L1ghtn1ng commented on #375
Closing this out

[2019-12-23 22:18] adrhmnhkm commented on #375
same output .
![Screenshot from 2019-12-24 00-17-31](https://user-images.githubusercontent.com/12286739/71382947-e13e1400-25e2-11ea-9dc3-037e9f43c5ff.png)

[2019-12-23 22:24] L1ghtn1ng commented on #375
What output do you get when you do just python3 -V in your terminal?

[2019-12-23 22:52] adrhmnhkm commented on #375
the output is Python 3.6.9

[2019-12-23 23:05] adrhmnhkm commented on #375
but I got another problems.
![Screenshot from 2019-12-24 01-04-00](https://user-images.githubusercontent.com/12286739/71384342-7d6b1980-25e9-11ea-97be-f6fe7b8b3851.png)

[2019-12-23 23:07] L1ghtn1ng commented on #375
If you go on to the wiki we have install instructions please have a look at that and report back
________________________________
From: Adi Rahman Hakim <notifications@github.com>
Sent: Monday, December 23, 2019 11:05:39 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [laramies/theH

[2019-12-24 01:59] VHE-AUG commented on #374
Hi,
still a newb at github sooo here goes.
I had the same problem and solved it like this:
It seems that netaddr.IPAddress doesn't like anything that is not an ip.
I resolved it adding some error handling.

In main.py:

`    # Results
    if len(all_ip) == 0:
        print('\n[*] No IPs found.')
    else:
        print('\n[*] IPs found: ' + str(len(all_ip)))
        print('-------------------')

[2019-12-24 03:56] NotoriousRebel commented on #374
@VHE-AUG  can you please tell me what verison of the tool you are using? I just went to theHarvester/lib/hostchecker.py and tested if it can resolve shops.myshopify.com it worked just fine.

[2019-12-24 03:57] NotoriousRebel commented on #374
Here is what I did
[code]
inside [hostchecker.py](https://github.com/laramies/theHarvester/blob/master/theHarvester/lib/hostchecker.py)

[2019-12-24 08:57] VHE-AUG commented on #374
Hi,
i did a fresh git clone to be sure my customizations did not mess up anything.

![image](https://user-images.githubusercontent.com/58828460/71404725-a2847a00-2633-11ea-9b15-1d083250149e.png)

for me its not returning NXDOMAIN records from searchotx.py
![image](https://user-images.githubusercontent.com/58828460/71404562-2c801300-2633-11ea-8417-feb5689c0e2d.png)

Its returning any type of record

[2019-12-24 09:15] VHE-AUG commented on #374
to illustrate further.
The api returns this:
https://otx.alienvault.com/api/v1/indicators/domain/shops.myshopify.com/passive_dns

i might be missing something here since iam very new to python but i would expect the adress tag to return IP adresses:

![image](https://user-images.githubusercontent.com/58828460/71405310-59cdc080-2635-11ea-94aa-8863f87eaeb1.png)

-------------------------------------

[2019-12-24 10:47] L1ghtn1ng commented on #374
The api is correct, what we do with the otx module is get the URLs from it then try and and resolve those URLs to an IP if I recall correctly. Will need to double check the module as I was the one that wrote it
________________________________
From: VHE-AUG <notifications@github.com>
Sent: Tuesday, December 24, 2019 9:15:54 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscri

[2019-12-24 18:59] NotoriousRebel commented on #374
@VHE-AUG  I do see what you are getting at now, you just never stated in your original issue that it was due to a certain module. I will take a look at the parser for OTX as it may need reworking, thank you for bringing this to our attention.

[2019-12-30 03:02] L1ghtn1ng commented on #374
This has been fixed in the otx module and this in now in master so if you do an update this will work if you use the git version

[2019-12-30 03:02] #374 closed

[2019-12-30 03:03] L1ghtn1ng commented on #375
Timeout

[2019-12-30 03:03] #375 closed

[2020-01-05 11:37] moodule opened #378 "[Other] Factor the code?"
Hello there, great work!!
Your project bumped me so much ahead of my little scraping :D
Apart from the functionnalities I have a few thoughts on coding style.
It's on the annoying side of coding, since it wouldn't add features, but it may make things easier in the future!

**Feature Request or Bug or Other**
Other

**Describe the feature request or bug or other**
Code snippets are duplicated with

[2020-01-05 12:39] moodule opened #379 "[Feature Request] Reverse DNS"
**Feature Request or Bug or Other**
Feature Request

**Describe the feature request or bug or other**
It looks like reverse DNS is proposed in the CLI / `__main__.py`, but not actually implemented?

**To Reproduce**
Steps to reproduce the behaviour:
1. Run python theHarvester.py -d <...> -n
2. See error "module 'theHarvester.discovery.dnssearch' has no attribute 'DnsReverse'"

**Expected behaviour

[2020-01-05 23:08] NotoriousRebel commented on #378
@moodule Thank you for the kind words :) The entire codebase has been getting refactored as we are in the process of making everything asynchronous. Please look [here](https://github.com/L1ghtn1ng/theHarvester/tree/dev) for the current progress, we are almost done with the refactoring and there should be a new release soon.

[2020-01-05 23:11] NotoriousRebel commented on #379
Thank you for raising this issue, this will be looked at soon!

[2020-01-06 10:42] moodule commented on #379
Actually I have a little proposition :D
But I'm really not sure if I understant correctly!!

I wrote 'DnsReverse' as a copy of 'DnsForce', simply adding a step to reverse every ip in the target, then resolving.

It's waiting in a fork.

[2020-01-06 10:49] moodule commented on #379
I couldn't make out what to return from the looks of `__main__.py`:
- results are appended to the variable `full` but not to the db
- `full` is added to the db before brute dns & reverse dns processing
- `full` seems to be a list of str, but nothing definite about that

I have so many questions about `__main__.py`!!

[2020-01-06 11:06] moodule commented on #378
oops :D
Thanks for the pointer I completely missed that!

I may have another kind of factoring for you, it should add to @L1ghtn1ng 's work hopefully.
I'll do a piece to check with you if it's going in the right direction.

[2020-01-06 11:13] moodule commented on #322
What about merging & then pointing to the [SecLists dorks](https://github.com/gwen001/SecLists/blob/master/mine/gsearch-dorks.txt)?

They have github & google dorks listings, and this repo must have more traction on this subject.

[2020-01-06 11:18] L1ghtn1ng commented on #379
This has been a thing Todo on Chris's Todo list as part of the refactoring it got removed and so far it's only a basic one, but work still needs doing to it to make it feature complete again
________________________________
From: David <notifications@github.com>
Sent: Monday, January 6, 2020 10:50:02 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.

[2020-01-07 01:25] vinci011235 commented on #371
`cat /etc/theHarvester/api-keys.yaml`
see, APIs is in white.
Delete or add.

[2020-01-07 06:27] L1ghtn1ng commented on #371
You can replace the keys that are there with your own and the ones that are missing you add in your own ones there as well
________________________________
From: Elvis Soares Gomes <notifications@github.com>
Sent: Tuesday, January 7, 2020 1:25:50 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; State change <state_change@noreply.github.com>
S

[2020-01-07 12:11] moodule commented on #379
I implemented it [here](https://github.com/moodule/theHarvester/blob/reverse-dns-lookup/theHarvester/discovery/dnssearch.py).

It tested it manually:
it finds a couple of linked & valid IPs in the neighbourhood of a given domain.

[2020-01-07 12:12] L1ghtn1ng commented on #379
Submit a pr for this would be perfect
________________________________
From: David <notifications@github.com>
Sent: Tuesday, January 7, 2020 12:11:24 PM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [laramies/theHarvester] [Feature Request] Reverse DNS (#379)

I implemented it here<https://git

[2020-01-07 19:40] DonRichards opened #380 "[Other] API keys Documentation"
**Feature Request or Bug or Other**
Other

**Describe the feature request or bug or other**
Add the documentation to the README on how to configure the API keys

**To Reproduce**
N/A

**Expected behaviour**
Docs on how to configure in the README and not relying on the closed tickets.

**Screenshots**
N/A

**System Information (System that tool is running on):**
N/A

**Additional context**
Informat

[2020-01-07 20:53] NotoriousRebel commented on #380
@DonRichards Thank you for raising this issue, this will be taken care.

[2020-01-08 10:12] moodule commented on #321
hey there, I have a few PR to make so I'll add docstrings to the impacted portions.

I'd second @cueo in #346 and recommend / use [numpy](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html) or [google](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html) format.

[2020-01-08 10:14] moodule commented on #321
And I'll create a branch for documentation as soon as the async factorisation is merged :arrow_up_small:

[2020-01-09 05:29] Zaarc opened #382 "HTTPConnectionPool(host='www.google.com', port=80): Max retries exceeded with url: /search?num=100&start=0&hl=en&meta=&q=%40%22cisco.com%22 (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f96fb3d6ad0>: Failed to establish a new connection: [Errno 110] Connection timed out')) local variable 'r' referenced before assignment"
Hello I'm facing this issue where the internet wont let me connect. I have had this issue from the moment i started using the Harvester. I am in China currently and I'm using shadow socks proxy so my question is does it have anything to do with it? either ways please post a solution. Thanks in advance :)

[2020-01-09 19:55] NotoriousRebel commented on #382
You may need to modify the requests so they go through the proxy see [here](https://stackoverflow.com/questions/12601316/how-to-make-python-requests-work-via-socks-proxy) for more info.

[2020-01-10 01:52] Zaarc commented on #382
Thanks for replying I'm sorry but i have a very basic understanding of python so is there anyway that you could help me how to make requests over python?
although i checked the link but im not sure how to configure and import requests libs in python. Thanks again :)

[2020-01-10 05:40] NotoriousRebel commented on #382
Requests is a library that we use to make the http requests, it has already been imported. In your case lets look at [googlesearch.py](https://github.com/laramies/theHarvester/blob/master/theHarvester/discovery/googlesearch.py) where we do requests.get(urly, headers=headers) you will most likely have to change it to
requests.get(urly, headers=headers, proxies=dict(http='socks5://user:pass@host:por

[2020-01-10 18:12] Zaarc commented on #382
Yes, I have already installed the modules now what it is the next procedure?

[2020-01-10 21:29] NotoriousRebel commented on #382
You need to modify how the requests are made add the extra parameter to the request. I encourage you to learn more about Python and the requests library.

[2020-01-14 02:05] ringawy opened #384 "Problem when start the harvester"
I,m pip requirements.txt and when try python3 theHarvester.py i have error please help
![Screenshot_٢٠٢٠٠١١٤-٠٤٠٢١٣_Termux](https://user-images.githubusercontent.com/18529940/72307448-fdcde900-3682-11ea-9bbd-445e6e5a02f8.jpg)

[2020-01-14 08:17] L1ghtn1ng commented on #384
Please have a look at https://github.com/laramies/theHarvester/wiki/Installation
________________________________
From: ringawy <notifications@github.com>
Sent: Tuesday, January 14, 2020 2:05:26 AM
To: laramies/theHarvester <theHarvester@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [laramies/theHarvester] Problem when start the harvester (#384)

I,m pip requirements.

[2020-01-15 20:00] L1ghtn1ng commented on #384
Closing due to timeout

[2020-01-15 20:00] #384 closed

[2020-01-15 21:51] orejasdetrapo commented on #374
Perfect my friend!!!

[2020-01-15 21:53] L1ghtn1ng commented on #374
Just a reminder that this issue has been fixed in master

[2020-01-15 22:58] orejasdetrapo commented on #379
Hi,
 I make the changes inside dns search.py, but in execution it show this error... 'Dns Reverse' object has no attribute 'list'

[2020-01-16 03:52] NotoriousRebel commented on #379
@orejasdetrapo without access to the code or a traceback it is much harder to help.

[2020-01-16 18:39] orejasdetrapo commented on #379
Yes!! this is the code: https://github.com/moodule/theHarvester/blob/reverse-dns-lookup/theHarvester/discovery/dnssearch.py

[2020-01-16 20:21] moodule commented on #379
Hey there, @orejasdetrapo you should pull `__main__.py` too.
The method `DnsReverse.list` has been removed and the calls in `__main__.py` modified

[2020-01-16 20:24] moodule commented on #379
But I have the changes in mind, I'm just waiting for the upcoming merge with L1ghn1ng's fork.
I'll rather go help fix this merge when I can!

[2020-01-23 02:03] padstm opened #386 "Bug with IntelX and Trello modules"
There's a bug with the IntelX and Trello modules

Steps to reproduce the behaviour for IntelX:
1. Provide an API key in the api-keys.yaml file
2. Run command:
theHarvester -d google.ca -b intelx
3. See output error:
[*] Searching Intelx.
An exception has occurred: Expecting value: line 1 column 1 (char 0)

Steps to reproduce the behaviour for Trello:
1. Run command:
theHarvester -d google.ca -b tr